{% extends_admingenerated "NitraMainBundle:StockWarehouseList:row.html.twig" %}

{% block list_td_column_warehouseId %}
    {% if warehouseAddress[Stock.warehouseId] is defined %}
        {{ warehouseAddress[Stock.warehouseId] }}
    {% endif %}
{% endblock list_td_column_warehouseId %}


{# отображение солбца Товар #}
{% block list_td_column_priceName %}
    {# проверяем подвязан ли товар к стоку  #}
    {% if Stock.productId and productNames[Stock.productId] is defined %}

        {# сравниваем название в прайсе и названия продукта #}
        {% if productNames[Stock.productId] == Stock.priceName %}
            {# Название в прайсе равно названию продукта  #}
            {{ productNames[Stock.productId] }}

        {% else %}
            {# Название в прайсе НЕ равно названию продукта  #}
            {{ productNames[Stock.productId] }}
            <div class="stock_price_name" title="{% trans %}Название в прайсе поставщика{% endtrans %}">
                {{ Stock.priceName }}
            </div>
        {% endif %}
    {% else %}
        {# товар к стоку не подвязан показываем название в прайсе #}
        <div class="stock_price_name" title="{% trans %}Название в прайсе поставщика{% endtrans %}">
            {{ Stock.priceName }}
        </div>
    {% endif %}
{% endblock list_td_column_priceName %}

{% block list_td_column_storePrice %}
    {% if pricesForStores[Stock.id] is iterable %}
        {% for key,value in pricesForStores[Stock.id] %}
            <div>{{ key }} : {{ value }} </div>
        {% endfor %} 
    {% else %}
        {{ pricesForStores[Stock.id] }}  
    {% endif %}     
{% endblock list_td_column_storePrice %}

{% block list_td_column_comment %}
    {{ Stock.comment }}
    <a class="colorbox" style="position: relative;float: right" href="{{ path('Nitra_OrderBundle_Order_Product_Get_Info', {'id': Stock.productId }) }}">?</a>
{% endblock list_td_column_comment %}