{% extends_admingenerated "NitraMainBundle:MovementReturnList:index.html.twig" %}
{% block javascripts %}    {{ parent() }}
    
    {% javascripts '@NitraMainBundle/Resources/public/js/vieMoreMovementEntry.js' %}    
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script type="text/javascript">
        $('.see_more').click(function(e) {
            e.preventDefault();
            
            var listId = $(this).attr('data-listId');
            var ulClass = 'ul.see_more_' + listId;
            var link = $(this);
            var url = '{{ path('Nitra_MainBundle_MovementRelocation_showMovementEntry') }}';
            var row = ulClass+ ' li';
            link.html("<img alt=\"Обработка запроса...\" id=\"loader\" class=\"loader\" src=\"{{ asset('bundles/nitraorder/images/search-ajax-loader.gif') }}\">");
            viewMoreMovementEntry(listId, ulClass, link, url, row);

        });
    </script>
{% endblock javascripts %}