{% extends_admingenerated "NitraMainBundle:MovementReturnList:row.html.twig" %}

{% block list_td_column_movementEntries %}
    {% if  Movement.movementEntries %}
        <ul class="see_more_{{ Movement.id }}">
            {% include("NitraMainBundle:MovementRelocationList:movementEntryRow.html.twig") %}
        </ul>
        {% if Movement.movementEntries|length > 3 %}
            <a data-listId="{{ Movement.id }}" class="see_more">Показать</a>
        {% endif %}
    {% endif %}
{% endblock list_td_column_movementEntries %}