{% extends_admingenerated "NitraExpenseBundle:ExpenseList:row.html.twig" %}
{%import 'NitraExpenseBundle::format_expences.html.twig' as format%}

{% block list_td_column_id %}
    {{ format.format_id(Expense) }}
{% endblock list_td_column_id %}