<tr iteration="__iteration__" >
    <td>
        __ProductName__
    </td>
    <td>
        {{ form_widget(movementEntryForPrototype.vars.prototype.quantity)|e }}
    </td>
    <td id="currencyPrice___iteration__" class="price"></td>
    <td id="currency___iteration__"></td>
    <td class="number movement_entry_total">
        __Total__
    </td>
    <td class="delete" >
        <a href="javascript:void(0);"  class="link_icon_mini" onclick="movement.form.delProduct(this);">
            <i class="i_delete"></i>
        </a>
        {{ form_widget(movementEntryForPrototype.vars.prototype.productId)|e }}
        {{ form_widget(movementEntryForPrototype.vars.prototype.stockParams)|e }}
    </td>
</tr>
