<tr 
    iteration="{{ iteration }}" >
    <td>
        {{ productNames[movementEntry.vars.value.productId] }} 
        {% if movementEntry.vars.value.stockParams %} 
            {{ ' (' ~ movementEntry.vars.value.stockParams ~ ')' }}
        {% endif %}
    </td>
    <td>
        {{ form_errors(movementEntry.quantity) }}
        {{ form_widget(movementEntry.quantity) }}
    </td>
    <td id="currencyPrice_{{ iteration }}" class="price">{{ movementEntry.vars.value.currencyPrice }}</td>
    <td id="currency_{{ iteration }}">{{ movementEntry.vars.value.currency }}</td>
    <td class="number movement_entry_total">
        {{ movementEntry.vars.value.getTotal }}
    </td>
    <td style="width: 1%">
        <a href="javascript:void(0);" class="act_delete link_icon_mini" onclick="movement.form.delProduct(this);"><i class="i_delete"></i></a>
        {{ form_errors(movementEntry.productId) }}
        {{ form_widget(movementEntry.productId) }}
        {{ form_widget(movementEntry.stockParams) }}
    </td>
    <td style="display: none;">
        {{ form_rest(movementEntry) }}
    </td>
</tr>
