{# шаблон отображения пустого виджета movementEntryes, 
для того что бы данный виждет не попадал в отображение при вызове form_rest(form) #}

<tr class="cartProductTrNull" style="display: none;">
    <td>
        {{ form_widget(form['movementEntries']) }}
    </td>
</tr>
