{% extends_admingenerated "NitraMainBundle:MovementRelocationNew:form.html.twig" %}

{% block form %}
 <div class="order_tabs">
      <div class="tabs">
        <a data-tab="#tabs-1" href="#">Товары</a>
        <a data-tab="#tabs-2" href="#">Информация
            {% block product_count %} <span class="text_round">{# отображение количества добавленных в заказ товаров #}</span>{# отображение количества добавленных в заказ товаров #}{% endblock product_count %}
        </a>
    </div>
    <div class="admin_form movement_form order_tabs_block">
    {% block filterSearch %}
        <fieldset  id="tabs-1" class="form_block form_fieldset_search left_block">
            <form id="search_product_filter" action="{{ path('Nitra_MainBundle_MovementRelocation_Search_Product_Autocomplete') }}" method="post" {{ form_enctype(filterSearch) }}>
                {{ form_errors(filterSearch) }}

                {% block filterSearch_fieldset_NONE %}
                <fieldset class="form_block form_fieldset_NONE fieldset_tabbable">
                    {% block filterSearch_fromWarehouse %}
                        {{ form_row(filterSearch['fromWarehouse'], {'icon':'i_warehouse'}) }}
                    {% endblock filterSearch_fromWarehouse %}
                        
                    {% block filterSearch_category %}
                        {{ form_row(filterSearch['category']) }}
                    {% endblock filterSearch_category %}
    
                    <div class="form_row search_row">      
                        {% block filterSearch_name %}
                            {{ form_row(filterSearch['name'], {'icon':'i_search'}) }}
                        {% endblock filterSearch_name %}
                    </div>
                </fieldset>
                {% endblock filterSearch_fieldset_NONE %}

                {{ form_rest(filterSearch) }}
               <div class="search_results_loader">
                    <div id="seacrh_product_list" class="search_results " ></div>
                    <img alt="поиск товаров..." id="loader" style="display: none;" class="loader" src="{{ asset('/bundles/admingeneratorgenerator/images/search-ajax-loader.gif') }}">  
                </div>
            </form>
        </fieldset>        
    {% endblock filterSearch %}   
    <div id="tabs-2"  class="right_block">
        <form action="{{ path("Nitra_MainBundle_MovementRelocation_create") }}" method="post" {{ form_enctype(form) }}>
            <fieldset class="form_block form_fieldset_cart">
                {{ form_errors(form) }}

                {% block form_fieldset_NONE %}
                    <fieldset class="form_block form_fieldset_NONE fieldset_tabbable">

                                {% block form_fromWarehouse %}
                                    {{ form_row(form['fromWarehouse'], {'icon':'i_warehouse'}) }}
                                {% endblock form_fromWarehouse %}

                                {% block form_toWarehouse %}
                                    {{ form_row(form['toWarehouse'], {'icon':'i_warehouse'}) }}
                                {% endblock form_toWarehouse %}

                                {% block form_date %}
                                    {{ form_row(form['date']) }}
                                {% endblock form_date %}   

                    </fieldset>
                {% endblock form_fieldset_NONE %}
            </fieldset>

            {% block form_movement_entries %}
                <div class="form_block form_fieldset_entry">

                    {{ form_errors(form['movementEntries']) }}

                    <table class="data_table table table_responsive" id="right_list_movement_entries_table" add-block='{% include "NitraMainBundle:MovementRelocationNew:cartProductTrPrototype.html.twig" with {'movementEntryForPrototype' : form.movementEntries} %}' >
                        <thead>
                            <tr>
                                <th>Товар</th>
                                <th>Кол-во</th>
                                <th>Цена в валюте</th>
                                <th>Валюта</th>
                                <th>Сумма</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cartList">
                            {# отображение пустого виджета movement_entryes, исключение из form_rest(form) #}
{#                            {% include "NitraMainBundle:MovementRelocationNew:cartProductTrNull.html.twig" %}#}

                            {% for entry in form['movementEntries'] %}
                                {% include "NitraMainBundle:MovementRelocationNew:cartProductTr.html.twig" with {'movementEntry' : entry, 'iteration':loop.index } %}
                            {% else %}
                                {# отображение пустого виджета movement_entries, исключение из form_rest(form) #}
                                {% include "NitraMainBundle:MovementRelocationNew:cartProductTrNull.html.twig" %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <div  class="order_total" >{% trans from "Admin" %}Итого:{% endtrans %}&nbsp; <span id="order_total"> {{ Movement.getTotal }}</span><small>{{ currency_symbol }}</small></div>
                </div>
            {% endblock form_movement_entries %} 

            {{ form_rest(form) }}

            {% block form_buttons %}
                <div id="edit-actions" class="actions form-actions">
                    {% block form_actions %}
                            <input type="submit" name="save" class="i_save" value="{% trans from "Admingenerator" %}action.generic.save{% endtrans %}" />
                            <a class="button_icon i_list" href="{{ path("Nitra_MainBundle_MovementRelocation_list") }}">{% trans from "Admingenerator" %}action.generic.list{% endtrans %}</a>
                    {% endblock form_actions %}

                </div>
            {% endblock form_buttons %}
        </form>
     </div>       
</div>            
{% endblock form %}
