{% extends_admingenerated "NitraMainBundle:MovementRelocationNew:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts '@NitraMainBundle/Resources/public/js/movementRelocation.js'
                   '@NitraMainBundle/Resources/public/js/searchList_height_resize.js' %}    
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    
    /**
     * Получить ID города для ID склада
     * @param integer $warehouseId- ID склада
     * @return integer $cityId - ID города
     * @return false - ID города не найден
     **/
    function getCityIdForWarehouse(warehouseId)
    {
        // проверить ID
        if (typeof(warehouseId) == 'undefined') {
            var warehouseId = false;
        }
        
        // получить город
        if (warehouseId) {
            
            // ID города 
            var cityId = false;
            
            // обойти все склады 
            $.each(warehouses_filters_movement_fromWarehouse, function(i, warehouse) {
                // проверить город
                if (warehouseId == warehouse[0]) {
                    // запомнить город
                    cityId = warehouse[2];
                    // прервать итерацию 
                    return;
                }
            });
            
            // вернуть ID города
            return cityId;
        }
        
        // поставщик не нейден 
        return false;
    }
    
    // страница загружена     
    $(document).ready(function() {
        
        // Безконечная прокрутка левого списка
        movement.form.activeScroll = true; //флаг , который принимает 'false' при попадание скрола в самый низ
        $('#seacrh_product_list').scroll(function(){
            //проверка на скролинг в самый низ , флаг и присутствие ссылки
            if(this.scrollTop==this.scrollHeight-this.clientHeight && movement.form.activeScroll){
                movement.form.searchProduct('scroll');
            }
        });
        
        // поиск товара по складу отправителя
        $('#filters_movement_fromWarehouse').change(function(){
            // удаление выбранных позиций перемещения
            $('#cartList').children('tr').remove();
            // выбранный склад отправитель
            var filterWarehouseId = $('#filters_movement_fromWarehouse option:selected').val();
            
            // проверить выбран ли склад-отправитель
            if (filterWarehouseId) {
                // выполнить поиск на складе
                movement.form.searchProduct('search');
            }
            
            // изменить склад отправитель для формы перемещения
            $('#new_movement_fromWarehouse').val(filterWarehouseId);
        });
        
        $('#filters_movement_select_city_for_fromWarehouse').change(function() {
            // удаление выбранных позиций перемещения
            $('#cartList').children('tr').remove();
            
            var filterWarehouseId = $('#filters_movement_fromWarehouse').val();
            $('#new_movement_fromWarehouse').val(filterWarehouseId);
            
            if(filterWarehouseId) {
                movement.form.searchProduct('search');
            }
            else {
                $('#seacrh_product_list').empty();
            }
        });
        
        // установка для фильтра по складу-отправителю выбранное значение из hidden склада-отправителя (при перезагрузке странице при ошибки валидации)
        $('#filters_movement_fromWarehouse').val($("#new_movement_fromWarehouse").val());
        
        // поиск товара по категориям
        $('#filters_movement_category').change(function() {
            // выполняем поиск только если выбран склад
            if($("#new_movement_fromWarehouse").val()) {
                movement.form.searchProduct('search');
            }
        });
        
        // поиск продуктов по названю
        $('#filters_movement_name').on('keydown', function(e) {
            
            // код нажатой клавиши
            var keyCode = (e.keyCode ? e.keyCode : e.which);
            
            // выполняем поиск только если выбран склад-отправитель
            if($("#new_movement_fromWarehouse").val()) {

                // нажата клавиша Enter
                if (keyCode == 13) {
                    e.preventDefault();
                    e.stopPropagation();
                    movement.form.searchProduct('search');
                } else if (// searchVal.length >= 3 && // проверить длину искомого выражения
                           keyCode != 27 // игнорировать нажатие клавиши [esc - код 27]
                ) {
                    // проверка таймера поиска 
                    if(movement.form.searchTimer) {
                        clearTimeout(movement.form.searchTimer);
                    }

                    // запуск поиска по таймеру
                    movement.form.searchTimer = setTimeout(function(){
                        movement.form.searchProduct('search');
                    }, 500);
                }
            } 
            // запрет отправки формы по нажатию Enrter
            else if(keyCode == 13) {
               return false;
            }
        });
        
        // позиция заказа изменение кол-ва и цены
        $('#right_list_movement_entries_table .quantity, .price').change(function(){
            movement.form.recalcTotal(this);
        });
        
        // ID склада
        var warehouseId = $('#new_movement_fromWarehouse').val();
        // ID города
        var cityId = getCityIdForWarehouse(warehouseId);
        // проверить склад и город
        if (warehouseId && cityId) {
            changeCity_filters_movement_select_city_for_fromWarehouse(cityId, warehouseId);
            setTimeout(function(){
                $("#filters_movement_select_city_for_fromWarehouse option:selected").removeAttr('selected');
                $('#filters_movement_select_city_for_fromWarehouse option[value="' + cityId + '"]').attr('selected', 'selected'); 
                $('#s2id_filters_movement_select_city_for_fromWarehouse span[class=select2-chosen]')
                    .text($('#filters_movement_select_city_for_fromWarehouse option:selected').text());
                $('#s2id_filters_movement_fromWarehouse span[class=select2-chosen]')
                    .text($('#filters_movement_fromWarehouse option:selected').text());
            });
        }
        
    });
    
    </script>
{% endblock %}
