{% extends 'AdmingeneratorGeneratorBundle::colorbox_layout.html.twig' %}

{% block colorbox_title %}Инвентаризировать склад{% endblock colorbox_title %}

{% block colorbox_content %}
    <div class="form_admin">
        <fieldset class="form_block form_fieldset_search">
            <form class="admin_form"
                action="{{ path('Nitra_MainBundle_StockRecount_newAtWarehouse') }}"
                method="post" {{ form_enctype(form) }}
                class="colorbox_form" >

                {{ form_errors(form) }}
                {{ form_widget(form) }}

                {% block form_buttons %}
                    <div class="form-actions">
                        <button type="submit" class="button_icon i_save">
                            {% trans from "Admingenerator" %}action.custom.confirm{% endtrans %}
                        </button>
                        <a class="i_close" href="{{ path("Nitra_MainBundle_StockRecount_list") }}">
                          {% trans from "Admingenerator" %}action.custom.cancel{% endtrans %}
                        </a>
                    </div>
                {% endblock form_buttons %}

                {{ form_rest(form) }}
            </form>
        </fieldset>
    </div>
{% endblock colorbox_content %}





