{% extends "NitraMainBundle:StockRecountEdit:index.html.twig" %}

{% block title %}
    {% trans from "Admin" %}Создание инвентаризации{% endtrans %}
{% endblock title %}
    
{% block page_title %}
    <header>
        <h1>{% trans from "Admin" %}Создание инвентаризации{% endtrans %}</h1>
    </header>
{% endblock page_title %}