{% extends "::base_admin.html.twig" %}

{% block stylesheets %}    {{ parent() }}
    {% stylesheets '@NitraThemeBundle/Resources/public/css/jquery.autocomplete.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}
            
{% block javascripts %}
    {{ parent() }}
                {% javascripts '@NitraThemeBundle/Resources/public/js/jquery.autocomplete.js' %}
            <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}    

{% block title %}
        {{ parent() }} - {% trans from "Admin" %}Создание инвентаризации{% endtrans %}
    {% endblock %}
        
{% block body %}    {% block page_title %}
        <header>
            <h1>{% trans from "Admin" %}Создание инвентаризации{% endtrans %}. Склад {{warehouse}}</h1>
        </header>
    {% endblock %}
<div class="row-fluid">{% block form_tabs %}
{% endblock %}

    {% block form %}
    <form class="admin_form" 
        {% if StockRecount.id %}
            action="{{ path("Nitra_MainBundle_StockRecount_update", { 'pk': StockRecount.id }) }}"
        {% else %}
            action="{{ path("Nitra_MainBundle_StockRecount_Create", { 'warehouseId': warehouseId }) }}"
        {% endif %}
        method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}

        {% block form_fieldset_NONE %}
              
              
        <div class="admin_form" style="float: left; width: 50%;">
            
            <div style="padding-bottom: 10px;">
                <a class="add">Добавить</a>
                 <div id="product_search" style="display:block; padding-bottom: 10px; padding-top: 10px;">
                    <input id="search" type="text" style="width: 97%">
                </div>
            </div>
                <div style="min-height: 300px;height:300px;overflow:auto">
                <table id="products" class="table" style="table-layout: fixed">
                    <tbody>
                        <div id="added_products" style="position:absolute; background-color: #FFE; margin-top: 30px;min-height:30px;margin-left: 10px;" >
                        
                        </div>
                        {% for entry in products_to_recount %}
                            <tr id="{{entry['productId']}}">
                                <td width="90%" >
                                    <input type="hidden" value="{{entry['priceName']}}" name="product[{{entry['productId']}}][priceName]">
                                    {{ entry['priceName'] }}
                                </td>
                                <td width="5%">
                                   <input type="hidden" value="{{entry['quantity']}}" name="product[{{entry['productId']}}][quantity]">
                                   {{ entry['quantity'] }}
                                </td>
                                <td width="5%"><input type="text" value="{{ entry['quantity'] }}" style="width:20px;" name="product[{{entry['productId']}}][delta]"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
               </div>
        </div>
              
              
       <div style="float: right; width: 40%">
             <fieldset class="form_block form_fieldset_NONE fieldset_tabbable">
        
                {% block form_comment %}
                    {{ form_row(form['comment']) }}
                {% endblock %}
                 
             </fieldset>
       </div>
{% endblock %}
{{ form_widget(form._token) }}
              
           {{ form_rest(form) }}
              
        {% block form_buttons %}        
            <div class="actions">
                {% block form_actions %}
                                
                        <input type="submit" name="save" class="save btn-primary"
                    
           
              value="{% trans from "Admingenerator" %}action.generic.save{% endtrans %}" />
                        
          
                            
                                          <a class="list " href="{{ path("Nitra_MainBundle_StockRecount_list") }}"
                                  
                        >{% trans from "Admingenerator" %}action.generic.list{% endtrans %}</a>
                        
          
            {% endblock %}

            </div>
        {% endblock %}
    </form>
    {% endblock %}
</div>
<script type="text/javascript">
    var i = 0;

    var warehouse = {{ warehouseId }};
    
    var product_added = new Array();
    
      $('body').on('click','.add', function(){
          
      $('#products > tbody > tr').css('background-color', '');
                  
            var html_tr = '<tr id="add_tr">';
        html_tr += '<td width="90%"><input id="add" type="text" style="width:97%"></td>';
        html_tr += '<td width="5%">0</td>';
        html_tr += '<td width="5%"><input type="text" style="width:20px;"></td>';
        html_tr += '</tr>';

        $('#products > tbody:first').prepend(html_tr); 
        
          $('#add').on('focusout', function(){
          var product_array = new Array();
          keyword = $('#add').val(); 
          $('#added_products').html('');
            $.ajax({
                    url: '{{path("Nitra_MainBundle_ProductAutocomplete") }}',
                    dataType: 'json',
                    data: { word: keyword, is_new: true, wh: warehouse },
                    success: function(success_data) {
                    if(success_data.length != 0){
                    $.each(success_data, function (k, d) {
                    if(jQuery.inArray(k,product_array) == -1 && jQuery.inArray(k,product_added) == -1){
                     var autocomplete = '<span style="padding-bottom: 10px;" class="add_prod" id2="'+d+'" id="' + i +'">' + d + '</span></br>';
                     $('#added_products').append(autocomplete); 
                     };
                     });
                    }
                 }
            });
        });
        });
    
  
            
        $('#search').on('focusout', function(){
            $('#add_tr').remove();
            keyword = $('#search').val(); 
            $('#added_products').html('');
            $('#products > tbody > tr').css('background-color', '');
            var i = 0;
            $.ajax({
                    url: '{{path("Nitra_MainBundle_ProductAutocomplete") }}',
                    dataType: 'json',
                    data: { word: keyword, wh: warehouse, pr: product_array },
                    success: function(success_data) {
                    if(success_data.length != 0){
                    $('#products > tbody > tr').css('background-color', '#eee');
                    $.each(success_data, function (i, d) {
                        
                     $('#' + d['productId']).closest('tr').remove();
                     
                     var html_tr_highlight = '<tr id="'+d['productId']+'">';
                     html_tr_highlight += '<td width="90%">' + d['priceName'] + '<input type="hidden" value="'+d['priceName']+'" name="product['+d['productId']+'][priceName]"></td>';
                     html_tr_highlight += '<td width="5%">' +d['quantity'] + '<input type="hidden" name="product['+d['productId']+'][quantity]" value="'+d['quantity']+'"></td>';
                     html_tr_highlight += '<td width="5%"><input type="text" style="width:20px;" name="product['+d['productId']+'][delta]" value="'+d['quantity']+'"></td>';
                     html_tr_highlight += '</tr>';

                     $('#products > tbody:first').prepend(html_tr_highlight); 
                     
                });
                }
                }
            });
        });
        
        
       $('body').on('click','.add_prod', function(){
                 var product_id = $(this).attr('id');
                 var product_name = $(this).attr('id2');
                 product_added.push(product_id);
                 var html_new = '<tr id="'+product_id+'">';
                 html_new += '<td width="90%">' + product_name + '<input type="hidden" value="'+product_name+'" name="product['+product_id+'][priceName]"></td>';
                 html_new += '<td width="5%">0<input type="hidden" name="product['+product_id+'][quantity]" value="0"></td>';
                 html_new += '<td width="5%"><input type="text" style="width:20px;" name="product['+product_id+'][delta]" value="0"></td>';
                 html_new += '</tr>';
                 $('#products > tbody:first').prepend(html_new); 

                 $('#added_products').html('');

                 $('#add_tr').remove();
        });
    
</script>
{% endblock %}
        