/* colors */
@color_product_name : #377197;

/*StockRecountEdit/StockRecountNew*/
.non-active                                 { background-color: #606060; }
.hidden                                     { display: none;}
/*OrderEdit/OrderNew*/	
/*.admin_form                                 { 
     .form_fieldset_search                  { position: relative; float: left; padding: 0px 10px 25px; margin: 0px 3px; width: 41%; background: #fefefe; border: 1px solid #ccc; box-shadow: 0px 0px 2px #bbb; border-radius: 5px; 
            label                           { width: auto; text-align: left; }
            input                           { width: 97%;}
            input[type="checkbox"]          { margin-top: 5px; margin-right: 5px; width: 12px; min-width: 12px; vertical-align: bottom; }
            .search_row                     { padding: 0 0 5px; clear: both; 
                input[type="text"]          { width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; background: #fff url(../images/icon_form.png) 100% -19px no-repeat; 
                    &:focus                 { background-position: 100% 5px; }
                }  
            }
            .loader                         { position: absolute; bottom: 10px; }
            .search_results                 { overflow: auto; padding: 10px; padding-right: 0; margin: 5px 0; border: 1px solid #bbb; background: #fff;
                .products                   { margin-left: 1px; 
                    table                   { width: 100%; margin-bottom: 10px;
			tr                  {
                            th              { padding: 5px 2px; border: none; font-size: 0.9em; vertical-align: middle; 
                                &.search_prod_name { padding-right: 40px; font-size: 1.2em; color: @color_product_name; text-align: left; }
                                &.number    { font-size: 1.2em; color: @color_product_name; text-align: right; 
                                   &.storePrice { font-weight: bold; }
                                }
                                .info       { display: inline-block; margin-left: 10px; width: 16px; height: 16px; vertical-align: bottom; background: #fff url(../images/icon_form.png) -6px -51px no-repeat; 
                                    &:hover { background-position: -6px -78px; }
                                }
                            }
                            td              { padding: 5px 10px; border: 1px solid #ddd; vertical-align: middle; color: #666;
                                &.number    { width: 40px; text-align: right; }
                                &.storePrice, &.supplier { font-weight: bold; }
                                &.supplier  { font-size: 0.9em; }
                                &:hover     { cursor: pointer; }
                                &.invisible { width: 5px; border: none;  }
			    }
			    .warehouse      { cursor: pointer;
                                &:hover     { background: #EDFFED;}
                            }
                            &:hover         { 
                               td           { background: #FCF8E3; border-bottom-color: #aaa; color: #333;
                                 &.invisible{ background: url(../images/icon_cart.png) 50% 50% no-repeat; border:none; }                              
                               }
                            }
			}
		    }
                }    
            }

    }
    .right_block                            { float: right; margin: 0px 3px; width: 55%; min-width: 535px; overflow: auto; 
        .form_fieldset_cart                 { border: 1px solid #ccc; box-shadow: 0px 0px 2px #ccc; border-radius: 5px; padding: 5px 10px;
            input                           { min-width: 170px; }
            input, select , textarea        { width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; }
            label                           { float: left; width: 90px; text-align: left; }
            .field_deliveryDate             {
                    label                   { display: block; }
            }
            input[type="checkbox"]          { margin-top: 5px; margin-right: 5px; min-width: 12px; width: 12px; vertical-align: bottom; }
            .field_content                  { display: block; margin-left: 115px; }
            .dubble_column_rows             { 
                .form_row                   { display: inline-block; width: 44%; 
                    &:first-child           { width: 54%; margin-right: 0.6%; }
                }
                &.form_fieldset_buyer       { padding-bottom: 5px; background: url(../images/icon_person.png) 100% 45% no-repeat;
                     .form_row              { width: 68%; }
                     .buyer_phone input     { width: 130px; min-width: 130px; }
                }    
             }  
       }
       .form_fieldset_delivery              { padding: 5px 5px 5px 10px; margin-bottom: 8px; background: url(../images/delivery_bg.png) repeat; 
              .field_content                { margin-left: 105px; }
              label                         { width: 80px; }
              .field_warehouse select       { width: 30%; 
                  &.select_warehouse_warehouse { margin-left: 2px; width: 50%; }
              }       
              .form_fieldset_checkbox       { margin-left: 102px; 
                   label                    { float: none; width: auto; }
                   .form_row                { width: auto; }
              }
              .form_fieldset_cost           { 
                   .form_row                { width: 265px; }
                  .field_deliveryCost       { width: 30%;
                      input                 { width: 100px; min-width: 100px; }
                      label                 { width: auto; padding-right: 10px; }
                      .field_content        { margin-left: 75px; }
                  }
                  .field_deliveryDate       { 
                      input                 { min-width: 100px; width: 100px; }
                  }
              }                         
        }   
       .field_comment_add                   {
                 label                      { padding-top: 5px; }
                 .comments                  { margin-left: 115px; margin-bottom: 5px;  
                    .all_coments            { overflow: auto; position: relative; display: block; margin-bottom: 5px; max-height: 180px; vertical-align: top; 
                        .comment_item       { margin-bottom: 5px; padding: 5px 0px; border-bottom: 1px dotted #ddd;}
                            input:focus     { width: 100%; max-width: 400px; }
                    }
                    span		    { display: inline-block; width: 200px; text-align: right; padding: 5px 20px 0 0; vertical-align: top;}
                    .field_content          { margin-left: 0px; }
		 }
       }
       .total                               { padding: 8px; text-align: right; border: 1px solid #ccc; border-top: none; box-shadow: 0 5px 5px -5px #ccc;
            div                             { display: inline-block; font-weight: bold; font-size: 1.15em; 
                span                        { padding-right: 3px; padding-left: 10px; }
            }
       }
       .data_table                          { margin-top: 10px; width: 100%; 
           th                               { padding: 5px 10px; font-size: 0.9em; vertical-align: middle; border: 1px solid #ccc; background: #ededed; text-shadow: 0 1px 0 #fff; }
           
           tbody                            {
                @TODO: переделать как правильно строку ниже  
               tr.order_entry_canceled      { background: #FFE4E1 }
               tr                           { background: #fff;
                   td                       { padding: 7px 5px; border: 1px solid #ccc; vertical-align: middle; border-bottom-color: #aaa;
                       input[type="text"], select  { border-radius: 3px; }                        
                       select               { display: block; padding-top: 2px; padding-bottom: 2px; margin-top: 5px; width: auto; max-width: 150px; font-size: 0.9em; padding: 0; }
                       input                { width: auto; }
                       input.quantity       { width: 40px; padding: 5px 4px; }
                       &.price              { 
                           input	        { width: 60px; padding: 5px 4px; }
                       }
                       input.price          { width: 60px; padding: 5px 4px; }
                       &.order_entry_total, &.movement_entry_total { text-align: right; padding-right: 10px; font-weight: bold; }
                       &.product_info       { padding-left: 10px; padding-bottom: 10px; 
                           .product_name    { display: block; margin-bottom: 5px; font-weight: bold; }
                           .warehouse_name  { display: block; }
                           .show_supplier_widget { display: block; padding-top: 5px; padding-right: 30px; font-size: 0.9em; background: url(../images/icon_form.png) 100% -146px no-repeat; }
                       }
                       &.delete             { width: 10px; vertical-align: middle; 
                           a                { display: block; width: 10px; height: 12px; background: url(../images/icon_form.png) no-repeat -8px -103px;
                               &:hover      { background-position: -8px -125px; }
                           }
                       }
		   }
		}
            }        
        }
        .actions                            { float: right; }
    }
  
     movementEdit/movementNew
    &.movement_form                         {
        select + select                     { margin-left: 2px; }
        .form_fieldset_search               { 
             select                         { width: auto; max-width: 150px; min-width: 100px; }
             form                           { max-width: 641px; }
             .select2-container             { min-width: 120px; }
            .select_warehouse_fromWarehouse { max-width: 53%; }
             label                          { float: left; width: 115px; }
             .chekbox_row                   { margin-bottom: 10px; 
                  label                     { float: none; width: auto; }
             }     
             .field_content                 { display: block; margin-left: 130px; }
             .search_results                {
                .products                   {
                    th                      { border: 1px solid #ddd; font-size: 0.9em; }
                    th.invisible            { border: none; }
                }
            }
        }
        
        .right_block                        {           
            .form_fieldset_cart             {
                .hasDatepicker              { width: 114px; min-width: 0; }
                select                      { width: auto; max-width: 48%; }   
                label                       { float: left; width: 110px; text-align: left; }
                .field_content              { display: block; margin-left: 130px; }
                .field_currency             { width: 280px !important; }
            }
        }    
    }  
    
    form show
    .show_form                              { 
        .product                            { padding: 5px; width: 600px; 
            .name                           {
                 span                       { padding-left: 10px; font-size: 0.9em; color: #777; font-style: italic; }
            }
            .quantity                       { width: 26%; }
        }
    }
}*/

/*OrderEdit/OrderNew*/	
.order_tabs                                 {
    .right_block                            {
        .form_fieldset_entry                {
            .currency                       {
                .select2-container          { min-width: 5em; width: 5em !important; margin-bottom: 0; }
            }
        }
    }
} 



#cboxLoadedContent .admin_form              { 
    .actions                                { width: auto; float: right; }
    .form_row label                         { width: auto; }
    .field_myFilialsDisplay                 {
        .field_content                      { padding-top: 10px; }
        input[type="checkbox"]              { margin: 5px 10px 0 0; }
    }
}
/*************************** movement table *************************/
.object-actions-Movement                    {
    .marker                                 { display: inline-block; padding: 2px 3px; color: #FFFFFF; border-radius: 3px; background-color: #999; }
    .td_integer                             { width: 35px; text-align: center; }
    .td_datetime                            { width: 58px; max-width: 70px; text-align: center; font-size: 10px; }
    .td_entity                              { font-size: 12px; }
    .td_virtual                             { width: 60px; max-width: 60px; text-align: center; }
    .td_ammount                             { padding: 0 3px 0 0; text-align: right; }
    .td_movementEntries                     { padding: 5px; }
    .movement_list_entries                  { margin-bottom: 4px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); background: #f2f4f5;
       .supplier_name                       { width: 90px; max-width: 90px; }
       .price                               { width: 95px; max-width: 95px; text-align: right; }
    }
    .td_comment                             { width: 150px;
       .comments                            { margin-bottom: 3px;
           .comment_item                    { margin-bottom: 4px; }
           #movement_comment_comment        { max-width: 140px; min-width: 140px; max-height: 70px; min-height: 70px; }
       } 
       .link_icon                           { padding: 3px 0 0 20px; }
    }
}
/*Название товара у поставщика*/
.stock_price_name                           { color: #a0a0a0;
    &:hover                                 { cursor: help; }
}

/*******error 404, 500**********/
.error_page                                 { float: none; width: 800px; margin: 30px auto; text-align: center;
    .error_status                           { color: #E2E2E2; font-size: 18em; }
    .text_error_page                        { display: inline-block; font-size: 1.2em; }
}
.error_500                                  {
    .title_500                              { color: #377197; }
    .text_error_page a                      { color: #377197; text-decoration: none;
        &:hover                             { text-decoration: underline; }
    } 
}
.inventory_form                             {
    .form_fieldset_entry                    { display: inline-block; width: 80%; min-width: 500px; padding: 0 1em;
        .product_search_box                 { margin-top: 1em;
            label                           { display: none; }
            .field_content                  { display: block; padding-right:15px; }
            input                           { width: 100%; }
        }
        .stocks_list                        { width: 100%; background: #FFFFFF;
           tr                               { text-align: center;
               .stock_recount_category      { min-width: 170px; text-align: left; }
               .stock_recount_name          { min-width: 170px; text-align: left; }
               .stock_recount_fact          {
                   input                    { width:60px; }
               }
           }
           input                            { width: auto; }
        }
    }
    .form_fieldset_NONE                     { display: inline-block; vertical-align: top; 
        textarea                            { resize: none; margin-top: 10px; height: 125px; width: 120px; min-width: 17em; }
        .form_row label                     { display: block;}
    }
    #edit-actions                           { padding-left:20px;  display: inline-block;  }
    #edit_stockrecount_productFilter        { max-width: 17em; }  
    .compound                               { margin-left: -0.25em; }
    .comment {display: inline-block; }

}

//Integra Preview
.job_preview                                { margin: 0 1em 0; }
.preview_content                            { max-height: 450px; 
    .table td                               { height: auto !important;}    
}  

