{% extends_admingenerated "NitraOrderBundle:BuyerList:index.html.twig" %}

{% block javascripts %} 
    {{ parent() }}

<script type="text/javascript">
    $(document).ready(function() {
        $('.all_buyer_order_entries').click(function() {
            
           // id баера
            var buyer_id = $(this).attr('data');
            
//          Если атрибут title = hide скрываем элементы и меняем текст
            if($(this).attr('title') == 'hide') {
                $('.all_buyer_order_entries[data="' + buyer_id + '"]').text('Показать все').attr('title','show');
                $('.orders_buyer_' + buyer_id + ' tbody tr:gt(2)').hide();
            }
            
            else if($(this).attr('title') == 'show') {
                $('.orders_buyer_' + buyer_id + ' tbody tr:gt(2)').show();
                $('.all_buyer_order_entries[data="' + buyer_id + '"]').text('Скрыть').attr('title','hide');
            } 
            
            else {
                $(this).html('<img alt="Обработка запроса..." id="loader" class="loader" src="{{ asset('bundles/nitraorder/images/search-ajax-loader.gif') }}">');
            // Запрос на получение всех заказов по баеру
               $.ajax({
                    url: '{{ path('Nitra_OrderBundle_Buyer_Orders') }}',
                    data: { buyer: buyer_id },
                    dataType: 'html',
                    success: function(data) {
//                  Выводим все заказы
                        $('.orders_buyer_' + buyer_id + ' tbody').html(data);
 //                 заменяем атрибут title и текст
                        $('.all_buyer_order_entries[data="' + buyer_id + '"]').text('Скрыть').attr('title','hide');
                    }
                });
            }

        });

    });
    </script>

{% endblock %}