{% block buyer_orders_rows %}
    <tr>
        <td>{{ entries.order }}</td>
        <td>
            {% if entries.product %}
                <strong>{{ entries.product }}</strong> 
                {% if entries.stockParams %}
                    <div class="red">{{ entries.stockParams }}</div>
                {% endif %}
            {% else %}
                <strong style="color:red;">Этот товар был удален</strong> 
            {% endif %}
        </td>
        <td style="text-align: right;">{{ entries.quantity > 1 ? ( entries.quantity ~'x '~(entries.quantity * entries.priceOut)|number_format(2, '.', ',')) : entries.priceOut }}</td>
        <td>
            <img title="{{ entries.orderEntryStatus.name }}" alt="order_{{ entries.orderEntryStatus.methodName }}" 
                src="{{ asset('bundles/nitraorder/images/order_entry_status/order_entry_' ~ entries.orderEntryStatus.methodName ~ '.png') }}" />
        </td>
    </tr>
{% endblock %}