{% extends_admingenerated "NitraOrderBundle:BuyerList:row.html.twig" %}
{% block list_td_column_ordersDisplay %}
    {% include "NitraOrderBundle:BuyerList:row.column.orderEntries.html.twig" with { } %}
{% endblock list_td_column_ordersDisplay %}