{# Столбец список позиций заказа #}
{% block list_td_column_buyerOrderEntries %}
    {% if Buyer.order|length > 0  %}
        <table class="orders_buyer_{{ Buyer.id }}">
            <tbody>
                {% for entries in orderEntries[Buyer.id][:3] %}
                    {% include "NitraOrderBundle:BuyerList:row.buyer.orderEntries.html.twig" %}
                {% endfor %}
            </tbody>
        </table>
        {% if orderEntries[Buyer.id]|length > 3 %}
             <a data="{{ Buyer.id }}" class="all_buyer_order_entries" >Смотреть все</a>
        {% endif %}
    {% endif %}
{% endblock %}