{% macro format_id(entity, value) %}
        <span title="Создано: {{ entity.createdBy ? entity.createdBy : ' ' }} {{ entity.createdAt ? entity.createdAt|localizeddate('medium','none') : ' ' }} 
Обновлено: {{ entity.updatedBy ? entity.updatedBy : ''}} {{ entity.updatedAt ? entity.updatedAt|localizeddate('medium', 'none') : ' ' }}">
{{ value|default(entity.name) }}</span>
{% endmacro %}