{% extends_admingenerated "NitraFilialBundle:FilialList:row.html.twig" %}

{% block list_td_column_storeId %}
    {% if storeNames[Filial.storeId] is defined %}
        {{ storeNames[Filial.storeId] }}
    {% endif %}
{% endblock list_td_column_storeId %}
