{% block form %}
    {% block filterSearch %}    
        {{ form_javascript(filterSearch) }}
  
            <h1>Добавление товара</h1>
                  <div class="form_admin">
            <fieldset class="form_block form_fieldset_search">
                <form onsubmit="return false"
                      id="search_product_filter"
                      action="#" method="post" {{ form_enctype(filterSearch) }}>

                    {{ form_errors(filterSearch) }}

                    {% block filterSearch_fieldset_NONE %}
                        <fieldset class="form_block form_fieldset_NONE fieldset_tabbable comment">

                            {% block filterSearch_product %}
                                {{ form_row(filterSearch['product']) }}
                            {% endblock filterSearch_product %}

                        </fieldset>
                    {% endblock filterSearch_fieldset_NONE %}

                    {{ form_rest(filterSearch) }}

                </form>
            </fieldset>        
        {% endblock filterSearch %} 

        {% block form_buttons %}
            <div class="actions form-actions">
                <a class="i_close " href="javascript:;" onclick="$.fn.colorbox.close();">{% trans from "Admin" %}Вернуться{% endtrans %}</a>
                <a id="add_product_to_list" class="i_new" href="javascript:;">{% trans from "Admin" %}Добавить{% endtrans %}</a>
                <a id="add_product_to_list_and_back" class="i_save-and-list" href="javascript:;">{% trans from "Admin" %}Добавить и вернуться{% endtrans %}</a>
            </div>    
        {% endblock form_buttons %}
     </div>
{% endblock form %}

{% block javascript_head %}
    {% javascripts '@NitraMainBundle/Resources/public/js/stockRecount.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    <script type="text/javascript">
        
    // страница загружена     
    $(document).ready(function() {
        
        // обработчик кнопки добавить продукт
        $('#add_product_to_list').click(function() {
            return addProductToList();
        });
        
        // обработчик кнопки добавить продукт и закрыть коолорбокс
        $('#add_product_to_list_and_back').click(function() {
            var result = addProductToList();
            return result ? $.fn.colorbox.close() : false
        });

        // функция добавления нового продукта в список позиций инвентаризации
        function addProductToList() {
            
            var product = $('#filters_stock_recount_product_name');
            
            if(!$(product).attr('productId') && !$(product).attr('categoryName') && !$(product).attr('productName')) {
                alert('продукт не выбран');
                return false;
            }
            
            stockRecount.form.addProduct(product);
            return true;
        }
    });
    
    </script>
{% endblock %}