{# шаблон отображения пустого виджета stockRecountEntries, 
для того что бы данный виждет не попадал в отображение при вызове form_rest(form) #}

<tr class="cartProductTrNull">
    <td style="display: none;">
        {{ form_widget(form.stockRecountEntries) }}
    </td>
</tr>
