<tr iteration="__iteration__" 
    productId="__productId__"
    stockParams=""
    filterLine="__CategoryName____ProductName__"
    >
    <td>
        __CategoryName__
    </td>
    <td>
        __ProductName__
    </td>
    <td>
        {{ form_widget(stockRecountEntryForPrototype.vars.prototype.stockParams)|e }}
    </td>
    <td>
        0
    </td>
    <td>
        {{ form_widget(stockRecountEntryForPrototype.vars.prototype.delta)|e }}
    </td>
    <td>
        {{ form_widget(stockRecountEntryForPrototype.vars.prototype.comment)|e }}
    </td>
    <td style="width: 1%">  
        <a href="javascript:;" class="act_delete link_icon_mini" onclick="stockRecount.form.confirmStockRecountEntryDelete(this)"><i class="i_delete"></i></a>
        {{ form_widget(stockRecountEntryForPrototype.vars.prototype.productId)|e }}
        {{ form_widget(stockRecountEntryForPrototype.vars.prototype.stockId)|e }}
    </td>
</tr>
