<tr 
    productId="{{ stockRecountEntry.vars.value.productId }}"
    stockParams="{{ stockRecountEntry.vars.value.stockParams }}"
    filterLine="{{ (stockRecountEntriesProductNames[stockRecountEntry.vars.value.productId] ~ stockRecountEntriesCategoryNames[stockRecountEntry.vars.value.productId] ~ stockRecountEntry.vars.value.stockParams) | lower }} "
    iteration="{{ iteration }}" >
    <td class="stock_recount_category">
        {{ stockRecountEntriesCategoryNames[stockRecountEntry.vars.value.productId] }}
    </td>
    <td class="stock_recount_name">
        {{ stockRecountEntriesProductNames[stockRecountEntry.vars.value.productId] }}
    </td>
    <td class="stock_recount_string">
        {{ form_errors(stockRecountEntry.stockParams) }}
        {{ form_widget(stockRecountEntry.stockParams) }}
    </td>
    <td class="stock_recount_number">
        {{ stockRecountEntry.vars.value.quantity }}
    </td>
    <td class="stock_recount_fact">
        {{ form_errors(stockRecountEntry.delta) }}
        {{ form_widget(stockRecountEntry.delta) }}
    </td>
    <td class="stock_recount_coment">
        {{ form_errors(stockRecountEntry.comment) }}
        {{ form_widget(stockRecountEntry.comment) }}
            
    </td>
    <td class="stock_recount_remove" style="width: 1%;">
        <a href="javascript:;" class="act_delete link_icon_mini" onclick="stockRecount.form.confirmStockRecountEntryDelete(this)"><i class="i_delete"></i></a>
        {{ form_errors(stockRecountEntry.productId) }}
        {{ form_widget(stockRecountEntry.productId) }}
        {{ form_errors(stockRecountEntry.stockId) }}
        {{ form_widget(stockRecountEntry.stockId) }}
    </td>
</tr>
