{% extends_admingenerated "NitraMainBundle:StockRecountEdit:form.html.twig" %}

{% block form %}
    <div class="row-fluid">
        <form class="admin_form inventory_form" 
            {% if StockRecount.id %}
                action="{{ path("Nitra_MainBundle_StockRecount_update", { 'pk': StockRecount.id }) }}"
            {% else %}
                action="{{ path("Nitra_MainBundle_StockRecount_create") }}"
            {% endif %}
            method="post" {{ form_enctype(form) }}>

            {{ form_errors(form) }}
            <div class="form_fieldset_holder">
                <fieldset class="form_block form_fieldset_entry">

                    {% block form_stock_recount_entries %}

                        {# инвентаризация не подписана #}
                        {% if not StockRecount.isAccepted %}
                            <div class="add_product">
                                <a href="{{ path("Nitra_MainBundle_StockRecount_AddNewProducts", {'warehouseId': StockRecount.warehouse.id }) }}" class="link_icon colorbox">
                                    <i class="i_new"></i>
                                    {% trans from "Admin" %}Добавить товар{% endtrans %}
                                </a>
                            </div>
                        {% else %}
                            <div class="stock_recount_is_accepted">
                                <h2>{% trans from "Admin" %}Инвентаризация подписана{% endtrans %}</h2>
                            </div>
                        {% endif %}

                        <div class="product_search_box">
                            {% block form_productFilter %}
                                {{ form_row(form['productFilter'], {'icon':'i_search'}) }}
                            {% endblock form_productFilter %}
                        </div>

                        <table id="list_stock_recount_entrys_table" class="table table_responsive stocks_list table" add-block='{% include "NitraMainBundle:StockRecountEdit:cartProductTrPrototype.html.twig" with {'stockRecountEntryForPrototype' : form.stockRecountEntries} %}' >
                            <thead>
                                <tr>
                                    <th>{% trans from "Admin" %}Категория{% endtrans %}</th>    
                                    <th>{% trans from "Admin" %}Название товара{% endtrans %}</th>    
                                    <th>{% trans from "Admin" %}Параметр стока{% endtrans %}</th>
                                    <th>{% trans from "Admin" %}Кол-во{% endtrans %}</th>
                                    <th>{% trans from "Admin" %}По факту{% endtrans %}</th>
                                    <th>{% trans from "Admin" %}Комментарий{% endtrans %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stockRecountEntry in form.stockRecountEntries %}
                                    {% include "NitraMainBundle:StockRecountEdit:cartProductTr.html.twig" with {'stockRecountEntry' : stockRecountEntry, 'iteration':loop.index } %}
                                {% else %}
                                    {# отображение пустого виджета order_entryes, исключение из form_rest(form) #}
                                    {% include "NitraMainBundle:StockRecountEdit:cartProductTrNull.html.twig" %}
                                {% endfor %}
                            </tbody>
                            <tfoot>                            
                            </tfoot>
                        </table>
                    {% endblock %}
                </fieldset>  

                {% block form_fieldset_NONE %}
                    {{ parent() }}
                {% endblock form_fieldset_NONE %}
            </div>
            {% block form_buttons %}

                {# инвентаризация не подписана #}
                {% if StockRecount.isAccepted %}
                    <div id="edit-actions" class="actions form-actions ">
                        <a class="list " href="{{ path("Nitra_MainBundle_StockRecount_list") }}">{% trans from "Admingenerator" %}action.generic.list{% endtrans %}</a>
                     </div>
                    {% else %}
                    {{ parent() }}
                    <div id="edit-actions" class="actions form-actions compound">
                    {% if is_granted('ROLE_ADMIN_MAIN') or is_granted('ROLE_ADMIN_FILIAL') or is_granted('ROLE_ADMIN') %}      
                       <input type="submit" name="save-and-accept" class="save btn-success i_save-and-list" value="{% trans from "Admingenerator" %}Сохранить и подписать{% endtrans %}" />               
                    {% endif %}
                    </div>
                
                {% endif %}

            {% endblock %}

            {{ form_rest(form) }}
        </form>
    </div>
    {% endblock form %}
