{% extends_admingenerated "NitraMainBundle:StockRecountEdit:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts '@NitraMainBundle/Resources/public/js/stockRecount.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
{% endblock %}
        
{% block javascripts %}    
    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit_stockrecount_productFilter').on('keyup', function() {
                stockRecount.form.filterProducts();
            });
            
             // обработка события сохранить форму инвентаризации
            $('.admin_form input[name="save"]').click(function(){
                $('#edit_stockrecount_saveAndAccept').val('0');
            });

            // обработка события сохранить и подписать форму инвентаризации
            $('.admin_form input[name="save-and-accept"]').click(function(){
                $('#edit_stockrecount_saveAndAccept').val('1');
            });
            
        });
    </script>
{% endblock javascripts %} 

