<div class="stockRecount_select_products">
    {% if products is not empty %}
        <select id="stock_recount_product_select">
            {% for product in products %}
                {% include "NitraMainBundle:StockRecountEdit:searchProductOption.html.twig" %}
            {% endfor %}
        </select>
    {% endif %}
</div>