<option 
    productId="{{ product.id }}"
    productName="{{ product.name }}"
    categoryName="{{ product.category }}"
    value="{{ product.id }}" >
    {{ product.category ~ ' / ' ~ product.name }}
</option>
