{% extends 'AdmingeneratorGeneratorBundle::base_admin.html.twig' %} 

{% block title %}Тетрадка{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets              
                'bundles/nitramain/css/style.less'
                'bundles/nitramain/css/jquery.toastmessage.css'%}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript_head %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts  'components/jquery-ui/ui/menu.js'
                    'components/jquery-ui/ui/autocomplete.js'
                    '@NitraMainBundle/Resources/public/js/select2-3.4.5/select2.js'
                    '@NitraMainBundle/Resources/public/js/jquery.toastmessage.js'
                    '@NitraMainBundle/Resources/public/js/flashBox.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.colorbox').colorbox();
        });
    </script>
{% endblock %}

{% block logo_name %}NitraTetradka{% endblock logo_name %}
    
{% block profile %}
    {{ parent() }}
    <div class="profile">
        <a href="{{ path('Nitra_ManagerlBundle_Manager_My_Filials') }}" class="colorbox" id="filialDefaultName" >{{ render(controller('NitraManagerBundle:Manager/Actions:getDefaultFilialName')) }}</a>
    </div>
{% endblock %}
{% block flashes %}
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <script>
                flashBox.show('{{flashMessage}}', '{{type}}')
            </script>
        {% endfor %}
    {% endfor %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        // документ готов
        $(document).ready(function(){
            // для кнопок save-and-list, save
            // добавить прогресбар загрузки
            $('form').has('[name=save-and-list], [name=save]')
                .children('.form-actions')
                .wrapInner('<div class="form-submit-buttons"></div>')
                .append('<img alt="{% trans %}Выполнение операции...{% endtrans %}" id="form_image_loader" class="form_image_loader" style="display: none;" src="{{ asset('bundles/nitraorder/images/search-ajax-loader.gif') }}" />');

            // submit спрятать кноки показать прогресбар загрузки
            $('form').has('[name=save-and-list], [name=save]').submit(function(e){
                $('.form-submit-buttons').hide();
                $('.form_image_loader').show();
            });
        });
    </script>
{% endblock javascripts %}







