{% extends "::base_admin.html.twig" %}
{% block title %} Аналитика по статусам {% endblock %}

{% block body %}
    <header>
        <h1>Аналитика по статусам</h1>
    </header>

    <a class="toggle_filter" onclick="$('.list_filters').toggleClass('visible_pc'); $(this).toggleClass('active');"><i></i></a>
    <div class="list_filters">
        <form method="post" {{ form_enctype(filter) }}>
            <legend>{% trans from "Admingenerator" %}list.filters{% endtrans %}</legend>
            {{ form_widget(filter) }}
            <div class="actions form-actions">
                {{ form_rest(filter) }}
            </div>
        </form>
    </div>

    <div class="list_results">
        <table class="table">
            <thead>
                <tr>
                    <th>Менеджер</th>
                    {%for status in statuses%}
                    <th><img title="{{ status.name }}" alt="order_{{ status.methodName }}" 
                             src="{{ asset('bundles/nitraorder/images/order_entry_status/order_entry_' ~ status.methodName ~ '.png') }}" /></th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                {%for manager in managers%}
                <tr>
                    <td>{{manager.getFirstName() ~' '~manager.getLastName() }} </td>
                    {%for status in statuses%}
                    {% if managerStatus[manager.getId()][status.getId()] is not null%}
                    <td style="text-align: right"> {{ 
                    managerStatus[manager.getId()][status.getId()]}}</td>
                    {%else%}
                     <td style="text-align: center"> -</td>
                     {%endif%}
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>

        </table>
    </div>  
{% endblock %}
