<h1>История статусов заказа № {{ Order.id }}</h1>

<table class="table order_status_history">
    <tr>
        <th>Дата</th>
        <th>Из статуса</th>
        <th>В статус</th>
        <th>Кем</th>
    </tr>
    {% for statusHistory in Order.orderStatusHistory %}
        <tr>
            <td>{{ statusHistory.createdAt|date("d.m.Y H:i") }}</td>
            <td>
                <span class="icon_round {{ statusHistory.fromStatus.cssClass }}"
                      title="{{ statusHistory.fromStatus }}"></span>
                {{ statusHistory.fromStatus }}
            </td>
            <td>
                <span class="icon_round {{ statusHistory.toStatus.cssClass }}"
                      title="{{ statusHistory.toStatus }}"></span>
                {{ statusHistory.toStatus }}
            </td>
            <td>{{ statusHistory.createdBy }}</td>
        </tr>
    {% endfor %}
</table>

<a class="btn">Отмена</a>

<script type="text/javascript">
    $('a.btn').click(function() {
        $.fn.colorbox.close();
    });
</script>

