{% extends_admingenerated "NitraOrderBundle:OrderList:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts "@NitraOrderBundle/Resources/public/js/order.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}        
{% endblock %}


{% block body %}

    {% block page_title %}
        <header>
            <h1>{% trans from "Admin" %}Гарантийный талон по заказу{% endtrans %} №{{ Order.id }}</h1>
        </header>
    {% endblock page_title %}
    
    {% block form %}
        <form action="{{ path("Nitra_OrderBundle_Order_Warranty_Save", { 'pk': Order.id }) }}" 
              id="warranty_form"
              class="admin_form" 
              method="post" {{ form_enctype(form) }} >
            {{ form_errors(form) }}
            
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Количество</th>
                        <th>Серийний номер</th>
                        <th>Гарантия, мес</th>
                    </tr>
                </thead>
                <tbody>
                    {% for orderEntry in form['orderEntries'] %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            {{ orderEntry.vars.value }}
                        </td>
                        <td>
                            {{ orderEntry.vars.value.quantity }}
                        </td>
                        <td>
                            {{ form_errors(orderEntry.serialNumber) }}
                            {{ form_widget(orderEntry.serialNumber) }}
                        </td>
                        <td>
                            {{ form_errors(orderEntry.warrantyPeriod) }}
                            {{ form_widget(orderEntry.warrantyPeriod) }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <br/>
            <p><b>Оформил:</b> _____________________________</p>
            <br/>

            <ul>
                <li>1. Гарантия действительна только при наличии правильно и четко заполненного гарантийного талона.</li>
                <li>2. Бесплатный ремонт производится только в течении гарантийного срока, указанного в данном гарантийном талоне.</li>
                <li>3. Серийный номер и модель изделия должны соответствовать указанным в гарантийном талоне.</li>
                <li>4. Изделие снимается гарантии в случае нарушения правил эксплуатации, изложенных в Инструкции по эксплуатации.</li>
                <li>5. Изделия снимается с гарантии в следующих случаях:
                    <ul>
                        <li> Если изделие имеет следы постороннего вмешательства или была попытка ремонта изделия в неуполномоченном сервисном центре.</li>
                        <li> Если аппаратура, предназначенная для работы в бытовых условиях, использовались в производственных и профессиональных целях.</li>
                    </ul>
                </li>
                <li>6. Гарантия не распространяется на следующие неисправности:<br/>
                    <ul>
                        <li> Изделие имеет выраженные механические и/или электрические повреждения;</li>
                        <li> Повреждения, вызванные попаданием внутрь изделия посторонних предметов, веществ, жидкостей, насекомых.</li>
                        <li> Повреждения, вызванные вследствие природных стихий, пожаров, наводнений, землетрясений, бытовых факторов.</li>
                        <li> Повреждения, вызванные не соответствием Государственным стандартам параметров питающих, телекоммуникационных, кабельных сетей и других подобных внешних факторов.</li>
                        <li> Повреждения, вызванные использованием расходных материалов, не соответствующих требованиям эксплуатации.</li>
                    </ul>
                </li>
                <li>7. Гарантия не распространяется на расходные материалы.</li>
            </ul>
            
            <br/>
            <p><b>Претензий к внешнему виду и комплектации не имею, с условиями гарантии ознакомлен</b> ________________(подпись)</p>
            
            {% block form_buttons %}
                <div id="edit-actions" class="actions form-actions">
                    {% block form_actions %}
                        <a id="warranty_print" class="print" onclick="order.warrantyPrint('{{ Order.id }}')" >{% trans from "Admingenerator" %}Печать{% endtrans %}</a>
                        <a id="warranty_list" class="list"  href="{{ path("Nitra_OrderBundle_Order_list") }}" >{% trans from "Admingenerator" %}action.generic.list{% endtrans %}</a>
                    {% endblock form_actions %}
                </div>
            {% endblock form_buttons %}    
            
            {{ form_rest(form) }}
        </form>
    {% endblock form %}        

{% endblock %}
