<h1>Принять товар по заказу № <b>{{ orderEntry.Order.id }}</b></h1>

{% if orderEntry.atWarehouse.isSupplier %}
<div class="position">
    <b>{% trans from "Admin" %}Поставщик:{% endtrans %}</b> {{ orderEntry.atWarehouse.supplier }}
</div>
{% endif %}

<div class="position">
    <b>Позиция: </b>{{ orderEntry }}
</div>

{% if formIsValid %}
    <div class="notice">Данные приняты!</div>
    <script>
        // обновить строку заказа
        order.renderTr("{{ orderEntry.order.id }}");
        // закрыть colorbox
        setTimeout('$.fn.colorbox.close()', 1000);
    </script>
{% else %}
    <fieldset class="form_block form_fieldset_search">
        <form action="{{ path('Nitra_OrderBundle_Order_Entry_Status_Transport',{'pk': orderEntry.id }) }}"
              method="post" {{ form_enctype(form) }} 
              class="colorbox_form" >
            
            {{ form_widget(form) }}

            {% include "NitraMainBundle:Common:_colorboxButtons.html.twig" %}
            
        {{ form_rest(form) }}
        </form>
        
    </fieldset>
{% endif %}

{% include "NitraMainBundle:Common:_colorboxSubmit.html.twig" %}
