<h1>Принять деньги по заказу № <b>{{ Order.id }}</b></h1>

{% if formIsValid %}
    <div class="notice">Данные приняты!</div>
    <script>
        // обновить строку заказа
        order.renderTr("{{ Order.id }}");
        // закрыть colorbox
        setTimeout('$.fn.colorbox.close()', 1000);
    </script>
{% else %}
    {{ form_javascript(form) }}
    <fieldset class="form_block form_fieldset_search">
        <form action="{{ path("Nitra_OrderBundle_Order_Income_Add", {'pk': Order.id }) }}"
              method="post" {{ form_enctype(form) }} 
              class="colorbox_form" >
            {{ form_errors(form) }}
            
            <div class="form_row">
                {{ form_label(form.amount) }}
                {{ form_errors(form.amount) }}
                {{ form_widget(form.amount) }}
            </div>
            
            <div class="form_row">
                {{ form_label(form.account) }}
                {{ form_errors(form.account) }}
                {{ form_widget(form.account) }}
            </div>

            <div class="form_row">
                {{ form_label(form.date) }}
                {{ form_errors(form.date) }}
                {{ form_widget(form.date) }}
            </div>

            <div class="form_row">
                {{ form_label(form.filial) }}
                {{ form_errors(form.filial) }}
                {{ form_widget(form.filial) }}
            </div>
            
            <div class="form_row">
                {{ form_label(form.comment) }}
                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment) }}
            </div>
            
            {% include "NitraMainBundle:Common:_colorboxButtons.html.twig" %}

        {{ form_rest(form) }}
        </form>
        
    </fieldset>
{% endif %}

{% include "NitraMainBundle:Common:_colorboxSubmit.html.twig" %}
