{% extends_admingenerated "NitraOrderBundle:OrderList:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/nitraorder/css/style.less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
        
    {{ form_stylesheet(form) }}
        
{% endblock stylesheets %}

{% block body %}

    {% block page_title %}
        <header>
            <h1>{% trans from "Admin" %}Логистика{% endtrans %}</h1>
        </header>
    {% endblock page_title %}
    
    {% block form %}
        <form class="admin_form movement_entry_page" action="{{ path("Nitra_OrderBundle_Order_Logistics_Save", { 'pk': order.id }) }}"
            method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            {% block form_fieldset_NONE %}
                <fieldset class="form_block form_fieldset_NONE fieldset_tabbable">
                    {% block form_warehouse %}
                        {{ form_row(form['warehouse']) }}
                    {% endblock form_warehouse %}

                    {% block form_deliveryDate %}
                        {{ form_row(form['deliveryDate']) }}
                    {% endblock form_deliveryDate %}
                </fieldset>
            {% endblock form_fieldset_NONE %}

            {{ form_rest(form) }}

            {% block logistics %}
                <div class='logistics'>
                    {% for order_entry_logistics in logistics %}
                    <div class='order_entry_logistics'>
                        <div class='order_entry_product_name'>{{ order_entry_logistics['product_name'] }}</div>
                        {% for key, movement_entry in order_entry_logistics['movements'] %} 
                        {# подсвечивание последнего перемещения (товар находиться на данном складе) #}
                        <div class='movement_entry {% if key == order_entry_logistics['movements']|length - 1 %} last {% endif %}'>
                            <p>{{ movement_entry }}</p>
                            {% if order_entry_logistics['delivery_date'][key] %}
                            <p>Дата прибытия: {{ order_entry_logistics['delivery_date'][key] |date("m/d/Y") }}</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div><p></p>
                    {% endfor%}
                </div>
            {% endblock logistics %}

            {% block form_buttons %}

                <div id="edit-actions" class="actions form-actions">
                {% block form_actions %}
                    <input type="submit" name="save" class="save btn-success" value="{% trans from "Admingenerator" %}action.generic.save{% endtrans %}" />
                    <a class="list " href="{{ path("Nitra_OrderBundle_Order_list") }}">{% trans from "Admingenerator" %}action.generic.list{% endtrans %}</a>
                {% endblock form_actions %}
                </div>

            {% endblock form_buttons %}

        </form>

    {% endblock form %}
    
{% endblock %}
