<h1>Отчет покупателю Заказ № <b>{{ Order }}</b></h1>

{% if formIsValid %}
    <div class="notice">Данные приняты!</div>
    <script>
        // обновить строку заказа
        order.renderTr("{{ Order.id }}");
        // закрыть colorbox
        setTimeout('$.fn.colorbox.close()', 1000);
    </script>
{% else %}
    <fieldset class="form_block form_fieldset_search">
        <form action="{{ path('Nitra_OrderBundle_Order_Status_Reported',{'pk': Order.id }) }}"
              method="post" {{ form_enctype(form) }} 
              class="colorbox_form" >
            
            {{ form_widget(form) }}

            <div class="actions">
                <input id="submit_reported_ok" type="submit" class="save btn-success" value="Обновить статус" />
                <input id="submit_no_answer" type="submit" class="save btn-success" value="Нет ответа" />
                <a class="btn">Отмена</a>
            </div>
            
            
        {{ form_rest(form) }}
        </form>
        
    </fieldset>
{% endif %}

{% include "NitraMainBundle:Common:_colorboxSubmit.html.twig" %}

<script type="text/javascript">
    // клик Обновить статус
    $('#submit_reported_ok').click(function() {
        $('#order_reported_is_reported').val('1');
    });
    // клик Нет ответа
    $('#submit_no_answer').click(function() {
        $('#order_reported_is_reported').val('0');
    });
</script>
