<h1>Отменить заказ № <b>{{ Order.id }}</b></h1>

{% if formIsValid %}
    <div class="notice">Данные приняты!</div>
    <script>
        // обновить строку заказа
        order.renderTr("{{ Order.id }}");
        // закрыть colorbox
        setTimeout('$.fn.colorbox.close()', 1000);
    </script>
{% else %}
    <fieldset class="form_block form_fieldset_search">
        <form action="{{ path('Nitra_OrderBundle_Order_Status_Canceled',{'pk': Order.id }) }}"
              method="post" {{ form_enctype(form) }} 
              class="colorbox_form" >
            
            {{ form_widget(form) }}

            {% include "NitraMainBundle:Common:_colorboxButtons.html.twig" %}
            
        {{ form_rest(form) }}
        </form>
        
    </fieldset>
{% endif %}

{% include "NitraMainBundle:Common:_colorboxSubmit.html.twig" %}
