<h1>Возврат поставщику по заказу № <b>{{ orderEntry.Order.id }}</b></h1>
<b>Поставщик:</b> {{ orderEntry.getWarehouse.getSupplier }} <br />
<b>Позиция:</b> {{ orderEntry }}

{% if formIsValid %}
    <div class="notice">Данные приняты!</div>
    <script>
        // обновить строку заказа
        order.renderTr("{{ orderEntry.order.id }}");
        // закрыть colorbox
        setTimeout('$.fn.colorbox.close()', 1000);
    </script>
{% else %}
    <fieldset class="form_block form_fieldset_search">
        <form action="{{ path('Nitra_OrderBundle_Order_Entry_Status_Returned_To_Supplier',{'pk': orderEntry.id }) }}"
              method="post" {{ form_enctype(form) }} 
              class="colorbox_form" >
            
            {{ form_widget(form) }}
            
            {% include "NitraMainBundle:Common:_colorboxButtons.html.twig" %}

        {{ form_rest(form) }}
        </form>
        
    </fieldset>
{% endif %}

{% include "NitraMainBundle:Common:_colorboxSubmit.html.twig" %}
