<h1>Принять товар по заказу № <b>{{ orderEntry.Order.id }}</b></h1>
<div class="position"><b>Позиция: </b>{{ orderEntry }}</div>

{% if formIsValid %}
    <div class="notice">Данные приняты!</div>
    <script>
        // обновить строку заказа
        order.renderTr("{{ orderEntry.order.id }}");
        // закрыть colorbox
        setTimeout('$.fn.colorbox.close()', 1000);
    </script>
{% else %}
    <fieldset class="form_block form_fieldset_search">
        <form action="{{ path('Nitra_OrderBundle_Order_Entry_Status_Sended_Confirm',{'pk':orderEntry.id, 'toStatus':newStatus.getMethodName}) }}"
              method="post" {{ form_enctype(form) }} 
              class="colorbox_form" >
            
            {{ form_widget(form) }}
            
            {% include "NitraMainBundle:Common:_colorboxButtons.html.twig" %}
            
        {{ form_rest(form) }}
        </form>
        
    </fieldset>
{% endif %}

{% include "NitraMainBundle:Common:_colorboxSubmit.html.twig" %}
