{% extends_admingenerated "NitraOrderBundle:OrderList:index.html.twig" %}

{% block body %}
<h1>Товарний чек по заказу № {{ Order.id }}</h1>

<div class="print_page">
    <h2>Товарний чек № {{ Order.id }}</h2>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Найменування</th>
                <th>Кiлькiсть</th>
                <th>Цiна</th>
                <th>Cума</th>
            </tr>
        </thead>
        <tbody>
            {% for orderEntry in Order.orderEntries %}
                <tr>
                    <td align="center">{{ loop.index }}</td>
                    <td>{{ orderEntry }}</td>
                    <td align="center">{{ orderEntry.quantity }}</td>
                    <td align="right">{{ orderEntry.priceOut }}&nbsp;{{ currency_symbol }}</td>
                    <td align="right">{{ orderEntry.quantity * orderEntry.priceOut }}&nbsp;{{ currency_symbol }}</td>
                </tr>
            {% endfor %}   
            <tr>
                <td align="right" colspan="3"><b>Всього:</b></td>
                <td align="right"><b>{{ Order.getPayedLeft }}&nbsp;{{ currency_symbol }}</b></td>
            </tr>
        </tbody>
    </table>
    
    <br/>
    <p>Всього (прописом): <b>{{ nlMoneyConvert(Order.getPayedLeft) }}</b>, без ПДВ</p>
    <br/>
    <br/>
    <p><b>Товар вiдпустив:</b> _____________________________</p>
    <br/>
    <br/>
    <p><b>Товар отриманий мною:</b> _____________________________, претензій до зовнішнього вигляду (механічні і термічні пошкодження відсутні) і комплектації (повна) товару не маю.</p>
</div>

<div class="actions">
    <a class="list" href="javascript:void(0);" onclick="history.back();">Назад</a>
    <a class="print" href="javascript:void(0);" onclick="window.print();">Печать</a>
</div>
{% endblock %}
