{% if product %}
    <div>
    <h2>{{ product.name ~ ' ' ~ product.model }}</h2>
    </div>
    <div>
        <h2><b>Описание товара</b></h2>
        <h2>Категория: {{ product.category }}</h2>
        <h2>Розничная цена: {{ product.storePrice[storeId]['price'] }}</h2>
    </div>
{% else %}
    <h2>продукт не найден</h2>
{% endif %}
