<tr iteration="__iteration__" >
    <td class="product_info">
        <span>__ProductName__</span>
    </td>
    <td>
        {{ form_widget(movementEntryForPrototype.vars.prototype.quantity)|e }}
    </td>
    <td>
        {{ form_widget(movementEntryForPrototype.vars.prototype.currencyPrice)|e }}
    </td>
    <td>
        {{ form_widget(movementEntryForPrototype.vars.prototype.stockParams)|e }}
    </td>
    <td class="number movement_entry_total">
        __Total__
    </td>
    <td class="delete">
        {# % if Movement.getMovementStatus.getMethodName == "adopted" % #}
            <a href="javascript:void(0);" onclick="movement.form.delProduct(this);" class="link_icon_mini"><i class="i_delete"></i></a>
        {# % endif % #}
        {{ form_widget(movementEntryForPrototype.vars.prototype.productId)|e }}
        
        {#{ form_widget(movementEntryForPrototype.vars.prototype.priceRecommended)|e }#}
    </td>
</tr>
