<tr 
    iteration="{{ iteration }}" >
    <td>
        {{ productNames[movementEntry.vars.value.productId] }} 
    </td>
    <td>
        {{ form_errors(movementEntry.quantity) }}
        {{ form_widget(movementEntry.quantity) }}
    </td>
    <td>
        {{ form_errors(movementEntry.currencyPrice) }}
        {{ form_widget(movementEntry.currencyPrice) }}
    </td>
    <td>
        {{ form_errors(movementEntry.stockParams) }}
        {{ form_widget(movementEntry.stockParams) }}
    </td>
    <td class="number movement_entry_total">
        {{ movementEntry.vars.value.getTotal }}
    </td>
    <td style="width: 1%">
        <a href="javascript:void(0);" class="act_delete link_icon_mini" onclick="movement.form.delProduct(this);"><i class="i_delete"></i></a>
        {{ form_errors(movementEntry.productId) }}
        {{ form_widget(movementEntry.productId) }}
    </td>
    <td style="display: none;">
        {{ form_rest(movementEntry) }} 
    </td>
</tr>
