{% extends_admingenerated "NitraMainBundle:MovementIncomeNew:form.html.twig" %}

{% block form %}
 <div class="order_tabs">
      <div class="tabs">
        <a data-tab="#tabs-1" href="#">Товары</a>
        <a data-tab="#tabs-2" href="#">Информация
            {% block product_count %} <span class="text_round">{# отображение количества добавленных в заказ товаров #}</span>{# отображение количества добавленных в заказ товаров #}{% endblock product_count %}
        </a>
    </div>
    <div class="admin_form movement_form order_tabs_block">
    {% block filterSearch %}
        <fieldset id="tabs-1" class="form_block form_fieldset_search left_block ">
            <form 
                  id="search_product_filter"
                  action="{{ path('Nitra_MainBundle_MovementIncome_Search_Product_Autocomplete') }}"
                  method="post" {{ form_enctype(filterSearch) }}>
                {{ form_errors(filterSearch) }}

                {% block filterSearch_fieldset_NONE %}

                    {% block filterSearch_contract %}
                        {{ form_row(filterSearch['contract']) }}
                    {% endblock filterSearch_contract %}     
                    {% block filterSearch_category %}
                        {{ form_row(filterSearch['category']) }}
                    {% endblock filterSearch_category %}

                    {% block filterSearch_search_only_in_stocks %}
                        <div class="chekbox_row form_row">
                             {{ form_row(filterSearch['search_only_in_stocks']) }}
                        </div>        
                    {% endblock filterSearch_search_only_in_stocks %} 
                    <div class="form_row search_row">      
                        {% block filterSearch_name %}
                            {{ form_row(filterSearch['name'], {'icon':'i_search'}) }}
                        {% endblock filterSearch_name %}
                    </div>

                {% endblock filterSearch_fieldset_NONE %}

                {{ form_rest(filterSearch) }}
                <div class="search_results_loader">
                    <div id="seacrh_product_list" class="search_results " ></div>
                    <img alt="поиск товаров..." id="loader" style="display: none;" class="loader" src="{{ asset('/bundles/admingeneratorgenerator/images/search-ajax-loader.gif') }}">  
                </div>
                </form>
        </fieldset>        
    {% endblock filterSearch %}  
            
    <div  id="tabs-2" class="right_block">
        <form  action="{{ path("Nitra_MainBundle_MovementIncome_create") }}" method="post" {{ form_enctype(form) }}>
             <fieldset class="form_block form_fieldset_cart">
                {{ form_errors(form) }}

                {% block form_fieldset_NONE %}
                    <fieldset class="form_block form_fieldset_NONE fieldset_tabbable">
                        {% block form_toWarehouse %}
                            {{ form_row(form['toWarehouse'], {'icon':'i_warehouse'} ) }}
                        {% endblock form_toWarehouse %}
                        <fieldset class="form_block dubble_column_rows">     
                            {% block form_currency %}
                                {{ form_row(form['currency'], {'icon':' i_dollar'}) }}
                            {% endblock form_currency %}

                            {% block form_date %}
                                {{ form_row(form['date']) }}
                            {% endblock form_date %}       
                        </fieldset>    
                        {% block form_commentAdd %}
                               {{ form_row(form['commentAdd'], {'icon':'i_comment'} ) }}
                        {% endblock form_commentAdd %}       
                        {% block form_contract %}
                            {{ form_row(form['contract']) }}
                        {% endblock form_contract %}
                    </fieldset>
                {% endblock form_fieldset_NONE %}
             </fieldset>     
                
             <div class="form_block form_fieldset_entry">
                {% block form_movement_entries %}
                   {{ form_errors(form['movementEntries']) }}       
                   
                    <table class="table table_responsive data_table" id="right_list_movement_entries_table" add-block='{% include "NitraMainBundle:MovementIncomeNew:cartProductTrPrototype.html.twig" with {'movementEntryForPrototype' : form.movementEntries} %}' >
                        <thead>
                            <tr>
                                <th>Товар</th>
                                <th>Кол-во</th>
                                <th>Цена в валюте</th>
                                <th>Параметр стока</th>
                                <th>Сумма</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cartList">
                            {% for entry in form['movementEntries'] %}
                                {% include "NitraMainBundle:MovementIncomeNew:cartProductTr.html.twig" with {'movementEntry' : entry, 'iteration':loop.index } %}
                            {% else %}
                                {# отображение пустого виджета movement_entries, исключение из form_rest(form) #}
                                {% include "NitraMainBundle:MovementIncomeNew:cartProductTrNull.html.twig" %}
                            {% endfor %}
                        </tbody>
                    </table>
                 <div class="order_total">{% trans from "Admin" %}Итого:{% endtrans %} &nbsp; <span id="order_total">{{ Movement.getTotal }}</span></div>     
            </div>
            {% endblock form_movement_entries %}
                
            {{ form_rest(form) }}

            {% block form_buttons %}
                {{ parent() }}
            {% endblock form_buttons %}
        
       </form>
    </div>        
</div>       
    </div>
{% endblock form %}
