{% extends_admingenerated "NitraMainBundle:MovementIncomeNew:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts '@NitraMainBundle/Resources/public/js/movementIncome.js'
                   '@NitraMainBundle/Resources/public/js/searchList_height_resize.js' %}    
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    
    /**
     * Получить ID поставщика для ID контракта
     * @param integer $contractId - ID контракта
     * @return integer $supplierId - ID поставщика
     * @return false - ID поставщика не найден
     **/
    function getSupplierIdForContract(contractId)
    {
        // проверить ID контракта
        if (typeof(contractId) == 'undefined') {
            var contractId = false;
        }
        
        // получить supplierId
        if (contractId) {
            
            // ID постащика
            var supplierId = false;
            
            // обойти все контракты 
            $.each(contracts_filters_movement_contract, function(i, contract) {
                // проверить контракт
                if (contractId == contract[0]) {
                    // запомнить поставщика
                    supplierId = contract[1];
                    // прервать итерацию 
                    return;
                }
            });
            
            // вернуть ID поставщика
            return supplierId;
        }
        
        // поставщик не нейден 
        return false;
    }
    
    // страница загружена     
    $(document).ready(function() {
        
        // Безконечная прокрутка левого списка
        movement.form.activeScroll = true; //флаг , который принимает 'false' при попадание скрола в самый низ
        $('#seacrh_product_list').scroll(function() {
            //проверка на скролинг в самый низ , флаг и присутствие ссылки
            if(this.scrollTop == this.scrollHeight-this.clientHeight && movement.form.activeScroll){
                movement.form.searchProduct('scroll');
            }
        });
        
        // поиск товара по категориям
        $('#filters_movement_category').change(function() {
            movement.form.searchProduct('search');
        });
        
        // поиск товара только по стокам/по всем продуктам
        $('#filters_movement_search_only_in_stocks').change(function() { 
            movement.form.searchProduct('search');
        });
        
        // поиск товара по контрактам/поставщикам
        $('#filters_movement_select_contract_for_contract').change(function() {
            // удаление позиций перемещения
            $('#cartList').children('tr').remove();
            
            var contractId = $('#filters_movement_contract').val();
            $('#new_movement_contract').val(contractId);
            movement.form.searchProduct('search');
        });
        
        // изменить контракт для перемещения при изменении фильтра контракта
        $('#filters_movement_contract').change(function(){
            var contractId = $(this).val();
            $('#new_movement_contract').val(contractId);
        });
        
        // установка фильтру по контрактам выбранное значение из hidden контракта (при перезагрузке странице при ошибке валидации)
        $('#filters_movement_contract').val($("#new_movement_contract").val());
        
        // поиск продуктов по названю
        $('#filters_movement_name').on('keydown', function(e) {

            // код нажатой клавиши
            var keyCode = (e.keyCode ? e.keyCode : e.which);

            // нажата клавиша Enter
            if (keyCode == 13) {
                e.preventDefault();
                e.stopPropagation();
                movement.form.searchProduct('search');
            } else if (// searchVal.length >= 3 && // проверить длину искомого выражения
                       keyCode != 27 // игнорировать нажатие клавиши [esc - код 27]
            ) {
                // проверка таймера поиска 
                if(movement.form.searchTimer) {
                    clearTimeout(movement.form.searchTimer);
                }

                // запуск поиска по таймеру
                movement.form.searchTimer = setTimeout(function(){
                    movement.form.searchProduct('search');
                }, 500);

            }
        });
        
        // позиция заказа изменение кол-ва и цены
        $('#right_list_movement_entries_table .quantity, .price').change(function(){
            movement.form.recalcTotal(this);
        });
        
        // ID контракта поставщика
        var contractId = $('#new_movement_contract').val();
        // ID поставщика
        var supplierId = getSupplierIdForContract(contractId);
        // проверить контракт и поставщика
        if (contractId && supplierId) {
            changeSupplier_filters_movement_select_contract_for_contract(supplierId, contractId);
            setTimeout(function(){
                $("#filters_movement_select_contract_for_contract option:selected").removeAttr('selected');
                $('#filters_movement_select_contract_for_contract option[value="' + supplierId + '"]').attr('selected', 'selected'); 
                $('#s2id_filters_movement_select_contract_for_contract span[class=select2-chosen]')
                    .text($('#filters_movement_select_contract_for_contract option:selected').text());
                $('#s2id_filters_movement_contract span[class=select2-chosen]')
                    .text($('#filters_movement_contract option:selected').text());
            });
        }
        
    });
    
    </script>
{% endblock %}
