{% if products is iterable %}
    <div class="movement_stock_listing products">
        <table class="table">
            {% if numberPage == 0 %}
            <thead>
                <th>{{ 'Название товара'|trans({}, 'Admin') }}</th>
                <th>{{ 'Параметр стока'|trans({}, 'Admin') }}</th>
                <th>{{ 'Резерв'|trans({}, 'Admin') }}</th>
                <th>{{ 'Кол-во'|trans({}, 'Admin') }}</th>
                <th>{{ 'Кол-во Free'|trans({}, 'Admin') }}</th>
                <th class="invisible"></th>
            </thead>
            {% endif %}
            <tbody>
                    {% for product in products %}
                        {% include "NitraMainBundle:MovementIncomeNew:searchProductTr.html.twig" %}
                    {% endfor %}
            </tbody>
        </table>
    <div>
{% endif %}