{% if stocks[product.id] is defined %}
    {% for stock in stocks[product.id] %}
        <tr 
            productId="{{ product.id }}"
            stockParams ="{{ stock.stockParams }}"
            productName = "{{ product }}"
            currencyPrice = "{{ stock.currencyPrice }}"
            currency = "{{ stock.currency }}"
            class="search_product_tr" 
            onclick="movement.form.addProduct(this);" >
            <td>{{ product }}</td>
            <td>{{ stock.stockParams }}</td>
            <td class="number nowrap">{{ stock.reserved }}</td>
            <td class="number nowrap">{{ stock.quantity }}</td>
            <td class="number nowrap">{{ stock.quantityFree }}</td>
            <td class="invisible"><a href="javascript:void(0);" onclick="movement.form.delProduct(this);" class="link_icon_mini"><i class="i_cart"></i></a></td>
        </tr>
    {% endfor %}
{% else %}
    <tr 
        productId="{{ product.id }}"
        stockParams =""
        productName = "{{ product }}"
        currencyPrice = "0"
        currency = ""
        class="search_product_tr" 
        onclick="movement.form.addProduct(this);" >
        <td>{{ product }}</td>
        <td class="number nowrap">0</td>
        <td class="number nowrap">0</td>
        <td class="number nowrap">0</td>
        <td class="number nowrap"></td>
        <td class="invisible">  <a href="javascript:void(0);" onclick="movement.form.delProduct(this);" class="link_icon_mini"><i class="i_cart"></i></a></td>
    </tr>
{% endif %}

