@import url("../../admingeneratorgenerator/css/base_styles.less");

/*General*/
input, textarea, .colorbox         { outline: none;}

/*Buttons*/

.buttons_holder                    { margin: 10px 0px; }

/*OrderList*/
.order_list_filial                 { font-weight: normal; }

.order_list_entries                {
    .first_column                  { width: 30%; }  
    .price                         { width: 20%; }  
    .orderName                     { width: 50%; }
}
/*OrderList*/
/*.admin_list                    { overflow: auto;
    table                                  {
    tr                                 {
            td                             { padding: 10px 5px;
                &.td_comment               {
                    .order_comments        {
                        a.add_coment       { margin: 10px 0; padding: 2px 0px 2px 20px;}
                        .comments          { overflow: auto; position: relative; margin-top: 10px; width: 120px; padding: 5px; max-height: 200px; 
                            .comment_item  { margin-bottom: 5px; padding: 5px 0px; border-bottom: 1px dotted #ddd; }
                        }
                        textarea[name="comment"] { width: 176px; margin: 20px 0;}
                    }
                }   
                &.object_actions           {
                    .popup_content         { left: -95px;
                        a                  { display: inline-block;
                            &.logistics    { background-image: url(../images/order_entry_status/order_entry_sended.png), linear-gradient(bottom, #D4D4D4, #EEEEEE);
                                            background-image: url(../images/order_entry_status/order_entry_sended.png), -o-linear-gradient(bottom, #D4D4D4, #EEEEEE);
                                            background-image: url(../images/order_entry_status/order_entry_sended.png), -moz-linear-gradient(bottom, #D4D4D4, #EEEEEE);
                                            background-image: url(../images/order_entry_status/order_entry_sended.png), -webkit-linear-gradient(bottom, #D4D4D4, #EEEEEE);
                                            background-image: url(../images/order_entry_status/order_entry_sended.png), -ms-linear-gradient(bottom, #D4D4D4, #EEEEEE);
                                            background-position: 6px 5px, 0 0;
                                            background-repeat: no-repeat;  
                            }
                    }
                }       
            }       
            }
     }
          Столбец № заказа 
        .order_list_column_id              { font-size: 0.8em;
            .order_list_id,
            .order_list_filial             { display: block; font-weight: bold;}
            .order_list_created            { color: #777;
                .name                      { font-weight: bold;}
            }
        }
         Столбец покупатель 
        .list_td_column_buyer              { 
            .name                          { padding-bottom: 5px; font-weight: bold; color: #377197;}
            .phone                         { font-size: 0.9em; padding-bottom: 5px; border-bottom: 1px dotted #777;}
            .city                          { font-size: 0.8em; padding-bottom: 5px;}
        }
         Столбец список позиций заказа 
        .order_list_entries                { font-size: 0.85em;
            td                             { padding: 3px; }
            .price div                     { white-space: nowrap;
                .h_price                   { display: inline-block; width: 35px; font-weight: bold;}
            }
        }

         Столбец статус заказа 
        .list_td_column_orderStatus        { font-size: 0.9em;}

         Столбец комментарий 
        .order_comments                    { min-width: 136px;}


        listOrderStatusHistory  
        table.order_status_history         { margin-bottom: 20px;}

        orderEntryStatusArrived     
    }
}*/
.movement_list_box                         { min-width: 300px;
    select                                 { width: 286px; margin: 8px 0 0 25px; }
    label                                  { vertical-align: top; text-align: left; }
    .form_row                              { margin: 8px 0; display: block; }
    #form button                           { .button_icon; background-position: -0.15em -10em; float: right; }
    #form_movementAt                       {
        .field_content                     { display: inline-block; }
        input                              { width: 115px; display: inline-block; }
        .form_row                          { margin: 8px 0; display: inline-block; }
        label                              { display: inline-block; width: 15px; margin: 0 5px; }
    }
}
.movement_entry_page                       {
    .fieldset_tabbable                     {
        .form_row                          { display: inline-block;
        label                              { width: 100px; }
            .select2-container             { margin-right: 10px;
                .select2-choice            { height: 30px; line-height: 30px; } 
            }
        }
    }
    .logistics                             { padding: 10px 0 10px 10px;
        .order_entry_logistics             { width: 100%; padding: 10px 20px 15px; margin-bottom: 10px; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 7px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); background: #fff;
            .order_entry_product_name      { margin-bottom: 5px; } 
            .movement_entry                { position: relative; display: inline-block; width: 165px; min-height: 100px; padding: 3px; margin: 1px 18px 1px 0; vertical-align: top; box-shadow: 0 0 5px rgba(0, 0, 255, 0.17); border-radius: 7px; border: 1px solid rgba(0, 0, 0, 0.3); background: #ECF1F1; 
                &:after                    { content: ">"; font-size: 2em; position: absolute; top: 39%; right: -19px; }
                &.last                     { box-shadow: 0 0 10px rgba(0, 154, 0, 0.7); 
                    &:after                { display: none; }
                }
            }
        }
    }
}
.sms_tabs                                  {
    .tabs_link                             { width: 148px; overflow: hidden; border-radius: 5px 5px 0 0; border: 1px solid #E0E0E0; border-bottom: none;
        a                                  { display: inline-block; margin: 0 -2px; padding: 7px 10px; background: #EAEAEA;
            &.active                       { background: #fff; }
        }
    }
    .tabs_box                              { max-height: 210px; overflow: auto; margin-top: -1px; padding: 10px 20px; border-radius: 0 5px 5px; border: 1px solid #E0E0E0;
        #sms-send                          { width: 460px; }
        .tabs                              { display: none;
            &.visible                      { display: block; }
            .sms_box                       { margin: 10px 0; padding: 5px 10px; border-radius: 7px; box-shadow: 0 0 2px 0 rgba(0,0,0,0.32); background: #F1F1F1;
            .name                          { color: #377197; font-weight: bold; }
            .date                          { font-size: 12px; }
                .text                      { display: block; margin-top: 3px; padding: 7px 10px; }
            }
        }
        .field_content textarea            { width: 370px; }
    }
}