{% extends_admingenerated "NitraManagerBundle:ManagerList:row.html.twig" %}

{% block list_td_column_roles_text %}
    {% autoescape false %}
        {{ Manager.rolesText }}
    {% endautoescape %}
{% endblock list_td_column_roles_text %}