{% extends_admingenerated "NitraMainBundle:StockWarehouseEdit:form.html.twig" %}

{% block form %}
    <fieldset class="form_block form_fieldset_NONE fieldset_tabbable">
        
        <div class="form_row field_warehouse">
            <label for="edit_stock_warehouse">
                {% trans from "Admingenerator" %}Склад{% endtrans %}
            </label>
            <div class="field_content">
                {{ Warehouse }}
            </div>
        </div>
        
        <div class="form_row field_product">
            <label for="edit_stock_product">
                {% trans %}Продукт{% endtrans %} 
            </label>
            <div class="field_content">
                
                {# проверяем подвязан ли товар к стоку  #}
                {% if Stock.productId and Product %}

                    {# сравниваем название в прайсе и названия продукта #}
                    {% if Product.name == Stock.priceName %}
                        {# Название в прайсе равно названию продукта  #}
                        {{ Product.name }}

                    {% else %}
                        {# Название в прайсе НЕ равно названию продукта  #}
                        {{ Product.name }}
                    <div class="stock_price_name" title="{% trans %}Название в прайсе поставщика{% endtrans %}">
                        {{ Stock.priceName }}
                    </div>
                    {% endif %}

                {% else %}
                    {# товар к стоку не подвязан показываем название в прайсе #}
                    <div class="stock_price_name" title="{% trans %}Название в прайсе поставщика{% endtrans %}">
                        {{ Stock.priceName }}
                    </div>
                {% endif %}
        
            </div>
        </div>
        
    </fieldset>
    {{ parent() }}
{% endblock form %}

{% block form_storePrice %}
    {% if form['storePrice'] is defined %}
        {% for storePrice in form['storePrice'] %}
            {{ form_widget(storePrice) }}
        {% endfor %}
    {% endif %}
{% endblock form_storePrice %}