{% macro format_id(entity, value) %}
    {% if entity.createdBy and entity.createdAt and entity.updatedBy and entity.updatedAt %}
        <span title="Создано: {{ entity.createdBy }}, {{ entity.createdAt|localizeddate('medium','none') }}
Обновлено: {{ entity.updatedBy }}, {{ entity.updatedAt|localizeddate('medium', 'none') }}">{{ value|default(entity.declarationNumber) }}</span>
    {% else %}
        {{ value|default(entity.declarationNumber) }}
    {% endif %}

{% endmacro %}