<script type="text/javascript">
    $('.colorbox_form').submit(function() {
        var data = $(this).serialize();
        $(this).html('<img alt="Обработка запроса..." id="loader" class="loader" src="{{ asset('bundles/nitraorder/images/search-ajax-loader.gif') }}">');
        $.fn.colorbox.resize();
        $.ajax({
            url: this.action,
            data: data,
            type: 'post',
            success: function(fromServer) {
                $('#cboxLoadedContent').html(fromServer);
                $.fn.colorbox.resize();
            }
        });
        return false;
    });
    
    $('.colorbox_form a.btn').click(function() {
        $.fn.colorbox.close();
    });
</script>
