{% extends "::base_admin.html.twig" %}
{% block title %}
    {% trans %}Отчет "Итоги по контрактам"{% endtrans %}
{% endblock %}

{% block body %}    
    {% block page_title %}
        <header>
            <h1>{% trans %}Отчет "Итоги по контрактам"{% endtrans %}</h1>
        </header>
    {% endblock page_title %}

    <div class="admin_list main_content">
        {% include "NitraAnalyticsBundle:Contract:results.html.twig" with {  } %}
    </div>
    
    {% block list_filters %}
        {% include "NitraAnalyticsBundle:Contract:filters.html.twig" with {  } %}
    {% endblock list_filters %}
{% endblock body %}
