
<div class="results-list">
    
    
    <div class="table_list"> 
        <table id="table-list-AnalyticsContract" class="table table-striped table-hover table-condensed object-actions-AnalyticsContract">
            
            {% block list_thead %}
            <thead>
                <tr class="list_thead">
                    <th class="list_thead_column">{% trans %}Контракт{% endtrans %}</th>
                    <th class="list_thead_column">{% trans %}Сумма{% endtrans %}, {{ currency_symbol }}</th>
                </tr>
            </thead>
            {% endblock list_thead %}
            
            {% block list_tbody %}
            <tbody>
                {% if contracts|length > 0 %}
                    
                    {% for contract in contracts %}
                        {% include "NitraAnalyticsBundle:Contract:row.html.twig" with {  } %}
                    {% endfor %}
                
                {% else %}
                    <tr class="list_trow no_results_row">
                        <td colspan="6">{% trans from "Admingenerator" %}list.no.results{% endtrans %}</td>
                    </tr>
                {% endif %}
            </tbody>
            {% endblock list_tbody %}
            
            {% block list_footer %}
            <footer>
                <tr class="tr_total_contracts list_footer">
                    <th class="list_footer_column ar td_total_contracts_text" >{% trans %}Итого по фильтру:{% endtrans %}</th>
                    <th class="list_footer_column td_decimal " > 
                        {{ totalContracts|number_format(2, ',', ' ' ) }} 
                    </th>
                </tr>
            </footer>            
            {% endblock list_footer %}            
            
  
        </table>
    </div>        
    
</div>