{% block list_row %}
<tr class="list_trow" id="tr_contract_id{{ contract.id }}">
    
    <td class="td_contractName td_text">
        {% spaceless %}
        <a href="{{ path("Nitra_AnalyticsBundle_ContractDetails_list", { 'pk': contract.id }) }}">
            {{ contract.name }}
        </a>
        {% endspaceless %}
    </td>
    
    <td class="td_contractAmount td_decimal">
        {{ contract.amount|number_format(2, ',', ' ' ) }}
    </td>
    
</tr>
{% endblock list_row %}
