{% block list_filters %}
<a class="toggle_filter" onclick="$('.list_filters').toggleClass('visible_pc'); $(this).toggleClass('active');"><i></i></a>
<div class="list_filters">
    <form action="{{ path("Nitra_AnalyticsBundle_ContractDetails_filters", { 'pk': contract.id }) }}" method="post" {{ form_enctype(form) }} >
        <legend>{% trans from "Admingenerator" %}list.filters{% endtrans %}</legend>
        {{ form_widget(form) }}
        <div class="actions form-actions">
            <button type="submit" class="btn btm-small btn-primary"><i class="icon-search icon-white"></i> {% trans from "Admingenerator" %}list.button.filter{% endtrans %}</button>
            <button type="submit" class="btn btm-small" name="reset" value="true"><i class="icon-refresh"></i> {% trans from "Admingenerator" %}list.button.reset{% endtrans %}</button>
        </div>
    </form>
</div>
{% endblock list_filters %}
{#
<script>
    $(document).ready(function(){
        $('.close').click(function(){
            $('.filters').hide();
        });
        $('.toggle_filter').click(function(){
            if ($('.list_filters').is(':visible'))  {
                $('.list_results').animate({marginRight : 0});
                $('.list_filters').hide(400);
                $('.pagination').css({'right':'20px'});
                $('.toggle_filter').css({'background-position':'-25px -25px'});
            }
            else {
                $('.list_results').animate({marginRight : 225}); 
                $('.list_filters').show('slow'); 
                $('.pagination').css({'right':'0px'});
                $('.toggle_filter').css({'background-position':'0px -25px'});
            }   
        });
    });
</script>
#}