{% extends "::base_admin.html.twig" %}
{% block title %}
    {% trans %}Детализированный отчет по{% endtrans %} "{{ contract }}"
{% endblock %}

{% block body %}    
    {% block page_title %}
        <header>
            <h1>{% trans %}Детализированный отчет по{% endtrans %} "{{ contract }}"</h1>
        </header>
    {% endblock page_title %}

    <div class="admin_list main_content">
        {% include "NitraAnalyticsBundle:ContractDetails:results.html.twig" with {  } %}
    </div>
    
    {% block list_filters %}
        {% include "NitraAnalyticsBundle:ContractDetails:filters.html.twig" with {  } %}
    {% endblock list_filters %}
{% endblock body %}
