
<div class="results-list">
    
    
    <div id="ballances_total">
        
        <div id="total_expenses">
            {% trans %}Расходов на сумму:{% endtrans %} {{ ballances.totalExpenses|number_format(2, ',', ' ' ) }} {{ currency_symbol }}
        </div>

        <div id="total_incomes">
            {% trans %}Закупок на сумму:{% endtrans %} {{ ballances.totalIncomes|number_format(2, ',', ' ' ) }} {{ currency_symbol }}
        </div>

        <div id="total_returns">
            {% trans %}Возвратов на сумму:{% endtrans %} {{ ballances.totalReturns|number_format(2, ',', ' ' ) }} {{ currency_symbol }}
        </div>
        
        <div id="contract_start_ballance">
            {% trans %}Стартовый балланс по контракту:{% endtrans %} {{ contract.startBalance|number_format(2, ',', ' ' ) }} {{ currency_symbol }}
        </div>
        
        
    </div>
    
    <div class="table_list"> 
        <table id="table-list-AnalyticsContract" class="table table-striped table-hover table-condensed object-actions-AnalyticsContract">
            
            {% block list_thead %}
            <thead>
                <tr class="list_thead">
                    <th class="list_thead_column" colspan="2">{% trans %}Операция{% endtrans %}</th>
                    <th class="list_thead_column" colspan="2">{% trans %}Сумма{% endtrans %}, {{ currency_symbol }}</th>
                </tr>
            </thead>
            {% endblock list_thead %}
            
            {% block list_tbody %}
            <tbody>
                
                <tr class="list_trow" id="total_ballance">
                    <th class="td_total_ballance_text td_text ar" colspan="2"> {% trans %}Всего за период:{% endtrans %} </th>
                    <th class="td_total_ballance_amount td_decimal td_amount" colspan="2"> {{ ballances.totalBallance|number_format(2, ',', ' ' ) }} </th>
                </tr>
                
                <tr class="list_trow" id="total_ballance">
                    <th class="td_total_ballance_text td_text ar" colspan="2"> {% trans %}Балланс на начало периода:{% endtrans %} </th>
                    <th class="td_total_ballance_amount td_decimal td_amount" colspan="2">  {{ ballances.startBallance|number_format(2, ',', ' ' ) }} </th>
                </tr>
                
                
                {% if ballances.dates|length > 0 %}
                    
                    {% for timestamp, atDate in ballances.dates %}
                
                    <tr class="list_trow" id="tr_date{{ timestamp }}">
                        <th class="td_text td_date" colspan="4">
                            <h3>{{ atDate.date|date('d-m-Y') }}</h3>
                        </th>
                    </tr>
                    <tr class="list_trow tr_start_ballance" id="tr_start_ballance{{ timestamp }}">
                        <th class="td_start_ballance_text td_text ar" colspan="2">
                            {% trans %}Баланс на начало:{% endtrans %}
                        </th>
                        <th class="td_start_ballance_amount td_decimal td_amount" colspan="2">
                            {{ atDate.startBallance|number_format(2, ',', ' ' ) }}
                        </th>
                        
                    </tr>
                    
                    {% if atDate.items|length > 0 %}
                        {% for item in atDate.items %}
                        <tr>
                            <td class="td_text">
                                {{ item.name }} № {{ item.movementId }}
                            </td>
                            
                            <td class="td_text">
                                {{ item.comment }}
                            </td>
                            
                            <td class="td_decimal td_amount">
                                {% if item.type != 'income' %}
                                    {{ item.amount|number_format(2, ',', ' ' ) }}
                                {% endif %}
                            </td>
                            
                            <td class="td_decimal td_amount">
                                {% if item.type == 'income' %}
                                    {{ item.amount|number_format(2, ',', ' ' ) }}
                                {% endif %}
                            </td>
                          
                        </tr>
                        {% endfor %}
                    {% endif %}
                    <tr class="list_trow tr_end_ballance" id="tr_end_ballance{{ timestamp }}">
                        <th class="td_end_ballance_text td_text td_text ar" colspan="2">
                            {% trans %}Баланс на конец:{% endtrans %}
                        </th>
                        <th class="td_end_ballance_amount td_decimal td_amount" colspan="2">
                            {{ atDate.endBallance|number_format(2, ',', ' ' ) }}
                        </th>
                    </tr>
                    {% endfor %}
                
                {% else %}
                    <tr class="list_trow no_results_row">
                        <td colspan="5">{% trans from "Admingenerator" %}list.no.results{% endtrans %}</td>
                    </tr>
                {% endif %}
            </tbody>
            {% endblock list_tbody %}
        </table>
    </div>
</div>

<div id="edit-actions" class="actions form-actions">
    {% spaceless %}
    <a class="list " href="{{ path("Nitra_AnalyticsBundle_Contract_list") }}">
        {% trans from "Admingenerator" %}action.generic.list{% endtrans %}
    </a>
    {% endspaceless %}
</div>
