{% set see = seeAll is defined ? Movement.movementEntries : Movement.movementEntries[:3] %}
{% for me in see %}
    <li>
       {{ me.product.fullNameForSearch }} - {{ me.quantity }} шт.
    </li>
{% endfor %}