{# все позиции для конкретной закупки #}
{% if Movement %}
    <table class="movement_list_entries" id="movement_list_entries">
    {% for movementEntry in Movement.movementEntries %}
        <tr>
            {% if loop.first %}
            <td class="supplier_name" rowspan="{{ loop.length }}">
                <strong>{{ Movement.contract.supplier }}</strong>
            </td>
            {% endif %}
            <td class="movement_entry_product_info">
                {% if movementEntry.quantity > 1 %}
                    {{ movementEntry.quantity }}
                    <strong>x</strong>
                {% endif %}
                {{ movementEntry.product.name ~ ' ' ~ movementEntry.product.model }}
                {% if movementEntry.stockParams %}
                    <div class="marker">{{ movementEntry.stockParams }}</div>
                {% endif %}
            </td> 
            <td class="price" >
                <strong>
                    {{ movementEntry.currencyPrice }}
                    {{ movementEntry.currency.symbol }}
                </strong>
            </td>
        </tr>
    {% endfor %}
    </table>
    <a onclick="movement.showHideMovementEntries()">- скрыть</a>
{% endif %}