
{% block order_comment_form %}
<form action="{{ path('Nitra_MainBundle_MovementIncome_Comment_Add') }}"
      method="post" {{ form_enctype(commentForm) }} 
      id="movementCommentInPlaceEdit"
      style="display:none;"
      >
    {{ form_errors(commentForm) }}
    
    <div class="form_row">
        {{ form_widget(commentForm.comment) }}
    </div>
        
    <a href="javascript:void(0);" name="submit" onclick="movement.comment.send();" class="button_icon i_new" >Добавить</a>
    <a href="javascript:void(0);" name="cancel" onclick="movement.comment.cancel();" class="button_icon i_close" >Отмена</a>
    
    {{ form_rest(commentForm) }}
    
</form>
{% endblock order_comment_form %}
