{% extends_admingenerated "NitraMainBundle:MovementIncomeList:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/nitramain/css/style.less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
        
    {{ form_stylesheet(form) }}
        
{% endblock stylesheets %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts "@NitraMainBundle/Resources/public/js/movementIncome.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
{% endblock javascripts %}
        
{% block body %}
    {{ parent() }}
    {# Форма добавления комментария #}
    {% include "NitraMainBundle:MovementIncomeList:commentForm.html.twig" with {  } %}
    
{% endblock body %}