{% extends_admingenerated "NitraMainBundle:MovementIncomeList:row.html.twig" %}

{% block list_td_column_id %}
    <div>{{ Movement.id }}</div>
    <div class="marker">{{ Movement.createdBy }}</div>
{% endblock list_td_column_id %}

{% block list_td_column_ammount %}
    <strong>{{ Movement.getTotalInBaseCurrency ~ ' ' ~ currency_symbol}}</strong>
{% endblock list_td_column_ammount %}
    
{% block list_td_column_orderId %}
    {% if Movement.getOrder %}
        <a href="#">{{ Movement.getOrder.id }}</a>
    {% endif %}
{% endblock list_td_column_orderId %}
    
{% block list_td_column_comment %}
    {% include "NitraMainBundle:MovementIncomeList:row.column.comment.html.twig" with { } %}
{% endblock list_td_column_comment %}

{% block list_td_column_movementEntries %}
    {% include "NitraMainBundle:MovementIncomeList:row.column.movementEntries.html.twig" with { } %}
{% endblock list_td_column_movementEntries %}