{# Столбец список позиций заказа #}
<table class="movement_list_entries">
    {% for movementEntry in Movement.movementEntries[:3] %}
        <tr>
            {% if loop.first %}
            <td class="supplier_name" rowspan="{{ loop.length }}">
                <strong>{{ Movement.contract.supplier }}</strong>
            </td>
            {% endif %}
            <td class="movement_entry_product_info">
                {{ movementEntry.quantity }}
                <strong>x</strong>
                {{ movementEntry }}
                {% if movementEntry.stockParams %}
                    <div class="marker">{{ movementEntry.stockParams }}</div>
                {% endif %}
            </td> 
            <td class="price">
                <strong>
                    {{ movementEntry.currencyPrice }}
                    {{ movementEntry.currency.symbol }}
                </strong>
            </td>
        </tr>
    {% endfor %}
</table>
{% if Movement.movementEntries|length > 3 %}
    <img alt="поиск позиций..." style="display: none;" class="loader" src="{{ asset('bundles/nitramain/images/search-ajax-loader.gif') }}">  
    <a onclick="movement.getMovementEntriesByMovementId(this, {{ Movement.id }})">+ смотреть все</a>
{% endif %}
        

