{# Столбец комментарий #}
<div class="movement_comments">
    <div class="comments">
        <div id="comment_text{{ Movement.id  }}">
            {{ Movement.comment|raw }}
        </div>
    </div>
    <a class="link_icon new add_coment" href="javascript:void(0);" id="add_comment_link{{ Movement.id  }}" onclick="movement.comment.add({{ Movement.id }}, this);" title="Добавить комментарий к закупке № {{ Movement.id }}" >комментировать</a>
</div>