{% extends "::base_admin.html.twig" %}
{% block title %} Аналитика по расходам {% endblock %}

{% block body %}
<header>
    <h1>Аналитика по расходам</h1>
</header>
<a class="toggle_filter" onclick="$('.list_filters').toggleClass('visible_pc'); $(this).toggleClass('active');"><i></i></a>
<div class="list_filters custom_filters">
    <form method="post" {{ form_enctype(filter) }}>
        <legend>{% trans from "Admingenerator" %}list.filters{% endtrans %}</legend>
        {{ form_widget(filter) }}
        <div class="actions form-actions">
            {{ form_rest(filter) }}
        </div>
    </form>
</div>

<div class="list_results">
    <table class="table">
        <thead>
            <tr>
                <th>Категория расходов</th>
                <th>Сумма, грн</th>
            </tr>
        </thead>
        <tbody>
            {%for expense in expenses%}
            <tr id="_categoryId_{{ expense.categoryId }}">
                <td><a onclick="getDetails({{ expense.categoryId }})">{{ expense.categoryName }}</a></td>
                <td class="td_decimal">{{ expense.summExp|number_format(2, ',', ' ' ) }}</td>
            </tr>
            {%endfor%}
        </tbody>
        <tfoot>
            <tr>
                <td class="td_decimal">Итого:</td>
                <td class="td_decimal">{{ allSumm|number_format(2, ',', ' ' ) }}</td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}

<script type="text/javascript">
    // Получить подробный отчет по категориям
    function getDetails(categoryId) {
        var tr = $('tr#_categoryId_' + categoryId);
        var detailTr = $('tr#_details_' + categoryId);
        //если еще нет детальных данных по категории
        if (!tr.hasClass('_withDetails')) {
            //Если послали запрос повторно - оборвать соединение
            if (typeof (xhr) !== 'undefined') {
                xhr.abort();
            }
            //Послать запрос на детальный отчет
            xhr = $.ajax({
                url: '{{ path('AnalyticsBundle_DetailsExpense') }}',
                data: {
                    from: '{{ (from != '') ? from|date('Y-m-d 00:00:00')}}',
                    to:   '{{ (to != '') ? to|date('Y-m-d 23:59:59')}}',
                    categoryId: categoryId
                },
                success: function(data) {
                    $('tr#_categoryId_' + categoryId).addClass('_withDetails').after(data);
                }
            });
        }else{ //если загружали детальные данные по категории
            //скрывает и показывет детальный отчет по категории
            detailTr.toggleClass('hidden');
        }
    }

</script>
{% endblock %}

