<tr id="_details_{{ categoryId }}">
    <td colspan="2" class="admin_list">
        <table class="dateils_table">
            <thead>
                <tr>
                    <th>Дата</td>
                    <th>Счёт</td>
                    <th>Сумма, грн</td>
                </tr>
            </thead>
            <tbody>
                {%for expense in expenses%}
                <tr>
                    <td>{{ expense.date|date('d-m-Y') }}</td>
                    <td>{{ expense.accName }}</td>
                    <td class="td_decimal">{{ expense.amount|number_format(2, ',', ' ' ) }}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </td>
</tr>