<tr id="_details_{{ filialId }}">
    <td colspan="4" class="admin_list">
        <table class="dateils_table">
            <thead>
                <tr>
                    <th>Менеджер</th>
                    <th>Оборот, грн</th>
                    <th>Маржа, грн</th>
                    <th>Процент маржи, %</th>
                </tr>
            </thead>
            <tbody>
                {%for detailsProfit in detailsProfits%}
                <tr>
                    <td>{{ detailsProfit.manager }}</td>
                    <td class="td_decimal">{{ detailsProfit.moneyMov|number_format(2, ',', ' ' ) }}</td>
                    <td class="td_decimal">{{ detailsProfit.margin|number_format(2, ',', ' ' ) }}</td>
                    <td class="td_decimal">{{ ((detailsProfit.margin/(detailsProfit.moneyMov - detailsProfit.margin))*100)|number_format(2, ',', ' ' ) }}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </td>
</tr>