{% extends "::base_admin.html.twig" %}
{% block title %} Аналитика по прибыли {% endblock %}

{% block body %}
<header>
    <h1>Аналитика по прибыли</h1>
</header>
<a class="toggle_filter" onclick="$('.list_filters').toggleClass('visible_pc'); $(this).toggleClass('active');"><i></i></a>
<div class="list_filters custom_filters">
    <form method="post" {{ form_enctype(filter) }}>
        <legend>{% trans from "Admingenerator" %}list.filters{% endtrans %}</legend>
        {{ form_widget(filter) }}
        <div class="actions form-actions">
            {{ form_rest(filter) }}
        </div>
    </form>
</div>

<div class="list_results">
    <table class="table">
        <thead>
            <tr>
                <th>Филиал</th>
                <th>Оборот, грн</th>
                <th>Маржа, грн</th>
                <th>Процент маржи, %</th>
            </tr>
        </thead>
        <tbody>
           {%for profit in profits%}
            <tr id="_filialId_{{ profit.filialId }}">
                <td><a onclick="getDetails({{ profit.filialId }})">{{ profit.filial }}</a></td>
                <td class="td_decimal">{{ profit.moneyMov|number_format(2, ',', ' ' ) }}</td>
                <td class="td_decimal">{{ profit.margin|number_format(2, ',', ' ' ) }}</td>
                <td class="td_decimal">{{ profit.percent|number_format(2, ',', ' ' ) }}</td>
            </tr>
            {%endfor%}
        </tbody>
        <tfoot>
            <tr>
                <td class="td_decimal">Итого:</td>
                <td class="td_decimal">{{ sumMoneyMov|number_format(2, ',', ' ' ) }}</td>
                <td class="td_decimal">{{ sumMargin|number_format(2, ',', ' ' ) }}</td>
                <td class="td_decimal">{{ totalPercent|number_format(2, ',', ' ' ) }}</td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}

<script type="text/javascript">
    // Получить подробный отчет по филиалам
    function getDetails(filialId) {
        var tr = $('tr#_filialId_' + filialId);
        var detailTr = $('tr#_details_' + filialId);
        //если еще нет детальных данных по филиалу
        if (!tr.hasClass('_withDetails')) {
            //Если послали запрос повторно - оборвать соединение
            if (typeof (xhr) !== 'undefined') {
                xhr.abort();
            }
            //Послать запрос на детальный отчет
            xhr = $.ajax({
                url: '{{ path('AnalyticsBundle_DetailsProfit') }}',
                data: {
                    from: '{{ (from != '') ? from|date('Y-m-d 00:00:00')}}',
                    to: '{{ (to != '') ? to|date('Y-m-d 23:59:59')}}',
                    filialId: filialId
                },
                success: function(data) {
                    $('tr#_filialId_' + filialId).addClass('_withDetails').after(data);
                }
            });
        } else { //если загружали детальные данные по филиалу
            //скрывает и показывет детальный отчет по филиалу
            detailTr.toggleClass('hidden');
        }
    }

</script>
{% endblock %}