{% extends "::base_admin.html.twig" %}

{% block stylesheets %}    {{ parent() }}
    {% endblock stylesheets %}

{% block javascripts %}    {{ parent() }}
    <script src="{{ asset("bundles/admingeneratorgenerator/js/admingenerator/general.js") }}"></script>
{% endblock javascripts %}
{% block title %}
       Продуктивность менеджеров 
{% endblock title %}
{% block body %}
    {% block page_title %}
        <header>
            <h1>Продуктивность менеджеров</h1>
        </header>
    {% endblock page_title %}
    {% block list_filters %}
         {% include "NitraAnalyticsBundle:ReportByManager:filters.html.twig" with {  } %} 
    {% endblock list_filters %}
    <div class="list_results">
         <table class="table table_responsive">
            {% block list_thead %}
                 <thead>
                     <tr class="list_thead">
                         <th>Менеджер</th>
                         <th>Количество заказов</th>
                         <th>Количество продукции</th>
                         <th>Сумма</th>
                         <th>Маржа</th>
                     </tr>
                 </thead>
            {% endblock list_thead %}
            <tbody>
                {% for manager in managers %}
                    {% include "NitraAnalyticsBundle:ReportByManager:row.html.twig" with {  } %}
                {% endfor %}
            </tbody>
        </table>
    </div>   
{% endblock body %}
