<tr class="list_trow">
    <td>{{ manager.firstname~' '~manager.lastname }}</td>
    <td>{{ manager.orders }}</td>
    <td>{{ manager.orderEntry }}</td>
    <td class="td_decimal">{{ manager.priceOut|number_format(2,',', ' ') }}</td>
    <td class="td_decimal">{{ manager.margin|number_format(2,',', ' ') }}</td>
</tr>
