{% extends "::base_admin.html.twig" %}    

{% block title %}
    {{ parent() }} - {% trans from "Admin" %}Инвентаризация{% endtrans %}
{% endblock %}
{% block body %}    
    {% block page_title %}
        <header>
            <h1>{% trans from "Admin" %}Инвентаризация{% endtrans %}</h1>
        </header>
    {% endblock %}
    <div class="admin_list main_content">
        {% block list_scopes %}
        {% endblock %}
        {% block list_nbresults %}
            <div class="list_nbresults">
                {% set count = StockRecounts.nbResults %}
                {% set start = ( StockRecounts.currentPage - 1 ) * StockRecounts.maxPerPage + 1 %}
                {% set end = start + StockRecounts.maxPerPage - 1 %}
                {% set end = end > count ? count : end %}

                {% if StockRecounts.haveToPaginate %}
                {% trans with {'%start%': start,'%end%': end,'%count%': count,} from "Admingenerator" %}list.display.range{% endtrans %}
                {% elseif  count > 0  %}
                {% trans with {'%count%': count,} from "Admingenerator" %}list.display.all{% endtrans %}
                {% endif %}
            </div>
        {% endblock %}
        {% block form_batch_actions %}
        {% endblock %}
        <table class="table">
            {% block list_thead %}
                <thead>
                    <tr class="list_thead">
                        <th class="list_thead_column{% if 0 %} sortable{% if sortColumn == 'сreatedAt' and sortOrder == 'ASC' %} sort_asc{% elseif sortColumn == 'сreatedAt' and sortOrder == 'DESC' %} sort_desc{% endif %}{% endif %}">
                        {{ 'Дата создания'|trans({}, 'Admin') }}</th>
                        <th class="list_thead_column{% if 0 %} sortable{% if sortColumn == 'recount_id' and sortOrder == 'ASC' %} sort_asc{% elseif sortColumn == 'recount_id' and sortOrder == 'DESC' %} sort_desc{% endif %}{% endif %}">
                        {{ '№ инвентаризации'|trans({}, 'Admin') }}</th>
                        <th class="list_thead_column{% if 1 %} sortable{% if sortColumn == 'warehouse' and sortOrder == 'ASC' %} sort_asc{% elseif sortColumn == 'warehouse' and sortOrder == 'DESC' %} sort_desc{% endif %}{% endif %}">
                            {% if sortColumn == 'warehouse' and sortOrder == 'ASC' %}
                                <a href="?sort=warehouse&order_by=desc">
                            {% else %}
                                <a href="?sort=warehouse&order_by=asc">
                            {% endif %}{{ 'Склад'|trans({}, 'Admin') }}
                                </a>
                            {% if sortColumn == 'warehouse' %}
                                {% if sortColumn == 'warehouse' and sortOrder == 'ASC' %}
                                    <span class="sorted-asc"></span>
                                {% else %}
                                    <span class="sorted-desc"></span>
                                {% endif %}
                            {% endif %}
                        </th>

                        <th class="list_thead_column{% if 1 %} sortable{% if sortColumn == 'comment' and sortOrder == 'ASC' %} sort_asc{% elseif sortColumn == 'comment' and sortOrder == 'DESC' %} sort_desc{% endif %}{% endif %}">
                            {% if sortColumn == 'comment' and sortOrder == 'ASC' %}
                                <a href="?sort=comment&order_by=desc">
                            {% else %}
                                <a href="?sort=comment&order_by=asc">
                            {% endif %}{{ 'Комментарий'|trans({}, 'Admin') }}
                                </a>
                            {% if sortColumn == 'comment' %}
                                {% if sortColumn == 'comment' and sortOrder == 'ASC' %}
                                    <span class="sorted-asc"></span>
                                {% else %}
                                    <span class="sorted-desc"></span>
                                {% endif %}
                            {% endif %}
                        </th>
                        <th class="list_thead_column{% if 0 %} sortable{% if sortColumn == 'is_accepted' and sortOrder == 'ASC' %} sort_asc{% elseif sortColumn == 'is_accepted' and sortOrder == 'DESC' %} sort_desc{% endif %}{% endif %}">
                        {{ 'Принят'|trans({}, 'Admin') }}</th>
                        <th class="list_thead_column{% if 1 %} sortable{% if sortColumn == 'createdBy' and sortOrder == 'ASC' %} sort_asc{% elseif sortColumn == 'createdBy' and sortOrder == 'DESC' %} sort_desc{% endif %}{% endif %}">
                            {% if sortColumn == 'createdBy' and sortOrder == 'ASC' %}
                                <a href="?sort=createdBy&order_by=desc">
                            {% else %}
                                <a href="?sort=createdBy&order_by=asc">
                            {% endif %}{{ 'Создал'|trans({}, 'Admin') }}
                                </a>
                            {% if sortColumn == 'createdBy' %}
                                {% if sortColumn == 'createdBy' and sortOrder == 'ASC' %}
                                    <span class="sorted-asc"></span>
                                {% else %}
                                    <span class="sorted-desc"></span>
                                {% endif %}
                            {% endif %}
                        </th>
                        <th class="actions">{% trans from "Admingenerator" %}list.header.actions{% endtrans %}</th>
                    </tr>
                </thead>
            {% endblock %}
            {% block list_tbody %}
                <tbody>
                    {% if StockRecounts|length > 0 %}
                        {% for StockRecount in StockRecounts %}
                            <tr class="list_trow">
                                {% block list_row %}
                                    <td class="td_virtual td_сreatedAt">
                                      {% block list_td_column_createdAt %}{{ StockRecount.createdAt|localizeddate("full", "medium") }}{% endblock %}
                                    </td>
                                    <td class="td_virtual td_id">
                                        {% block list_td_column_recount_id %}{{ StockRecount.Id }}{% endblock %}
                                    </td>
                                    <td class="td_virtual td_warehouse_id">
                                        {% block list_td_column_warehouse_id %}{{ StockRecount.warehouse.address }}{% endblock %}
                                    </td>
                                    <td class="td_string td_comment">
                                        {% block list_td_column_comment %}{{ StockRecount.comment }}{% endblock %}
                                    </td>
                                    <td class="td_boolean td_is_accepted">
                                        {% block list_td_column_is_accepted %}
                                            {% if StockRecount.isAccepted %}
                                                <b class="green">&#10004;</b> {{StockRecount.updatedBy}}
                                            {% endif %}
                                        {% endblock %}
                                    </td>
                                    <td class="td_entity td_createdBy">
                                        {% block list_td_column_createdBy %}{{ StockRecount.createdBy }}{% endblock %}
                                    </td>
                                {% endblock %}
                                {% block list_object_actions %}
                                    <td class="actions">
                                        <a class="edit " title="{% trans from "Admingenerator" %}action.object.edit.label{% endtrans %}" href="{{ path("Nitra_MainBundle_StockRecount_edit", { 'pk': StockRecount.id }) }}"></a>
                                            {% if StockRecount.isAccepted == 0 %}                            
                                        <a class="delete " title="{% trans from "Admingenerator" %}action.object.delete.label{% endtrans %}" href="{{ path("Nitra_MainBundle_StockRecount_delete", { 'pk': StockRecount.id }) }}"
                                           data-confirm="{% trans from "Admingenerator" %}action.object.delete.confirm{% endtrans %}" >
                                        </a>
                                            {% endif %}
                                    </td>
                                {% endblock %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="list_trow no_results_row">
                            <td colspan="5">{% trans from "Admingenerator" %}list.no.results{% endtrans %}</td>
                        </tr>
                    {% endif %}
                </tbody>
            {% endblock %}
        </table>
        {% block list_paginator %}
            <div class="pagination pagination-right">
                {{ pagerfanta(StockRecounts, 'admingenerator') }}
            </div>
        {% endblock %}
        {% block list_batch_actions %}
        {% endblock %}
        {% block list_actions %}
            <div class="actions list_actions">
                  <a class="new btn-primary" href="{{ path("Nitra_MainBundle_StockRecount_NewChoice") }}">
                      {% trans from "Admingenerator" %}action.generic.new{% endtrans %}
                  </a>
            </div>
        {% endblock %}
        {% block endform_batch_actions %}
        {% endblock %}
    </div>
    {% block filters %}
        {% block list_filters %}
            <div class="filters">
                <form action="{{ path("Nitra_MainBundle_StockRecount_filters") }}" method="post" {{ form_enctype(form) }}>
                    <legend>{% trans from "Admingenerator" %}list.filters{% endtrans %}</legend>
                    <fieldset class="form_block">
                        {{ form_errors(form) }}
                        {{ form_row(form['id']) }}
                        {{ form_row(form['warehouse']) }}
                        {{ form_row(form['isAccepted']) }}
                        {{ form_row(form['createdBy']) }}
                        {{ form_row(form['createdAt']) }}
                        {{ form_row(form['comment']) }}
                        {{ form_row(form['productName']) }}
                        {{ form_rest(form) }}
                    </fieldset>
                    <div class="actions">
                        <input type="submit" class="submit_button" value="{% trans from "Admingenerator" %}list.button.filter{% endtrans %}" />
                        <input type="submit" class="reset_button" name="reset" value="{% trans from "Admingenerator" %}list.button.reset{% endtrans %}" />
                    </div>
                </form>    
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}
