<table class="order_list_entries">
{%for entry in Declaration.declarationEntries %}
    <tr>
        <td>
            {{ entry }}
        </td>
    </tr>
{%else%}
    <tr>Товаров нет</tr>
{%endfor%}
</table>
