{% extends_admingenerated "NitraDeclarationBundle:DeclarationList:row.html.twig" %}
{%import 'NitraDeclarationBundle::format_declaration.html.twig' as id%}

{% block list_td_column_declarationNumber %}
      {{ id.format_id(Declaration) }}
{% endblock list_td_column_declarationNumber %}

{% block list_td_column_products %}
    {% include "NitraDeclarationBundle:DeclarationList:row.column.products.html.twig" with { } %}
{% endblock list_td_column_products %}

