{% extends_admingenerated "NitraMainBundle:MovementReturnShow:index.html.twig" %}

{% block show %}
        {% block object %}
            {{ parent() }}
            {% block movement_entries %}
                <h3>Список товаров</h3>
                <table class="table product">
                    {% for movementEntry in Movement.MovementEntries %}
                            <tr>
                                <td class="name">{{ movementEntry }}</td> 
                                <td class="quantity">Количество: {{ movementEntry.quantity }} шт.</td>
                            </tr>    
                    {% endfor %}
                </table>         
            {% endblock movement_entries %}
        {% endblock object%}

        {% block form_buttons %}
            <div id="show-actions" class="form-actions">
                {% block form_actions %}
                <a class="i_list " href="{{ path("Nitra_MainBundle_MovementReturn_list") }}">{% trans from "Admingenerator" %}action.generic.list{% endtrans %}</a>
                <a class="i_delete " href="{{ path("Nitra_MainBundle_MovementReturn_object", { pk: Movement.id, action: 'delete' }) }}" 
                   onclick='return confirm("{% trans from "Admingenerator" %}action.object.delete.confirm{% endtrans %}")'>
                {% trans from "Admingenerator" %}action.object.delete.label{% endtrans %}</a>
                {% endblock form_actions %}
            </div>
        {% endblock form_buttons %}
{% endblock show%}               
            

