<h1>Филиалы для отображения</b></h1>
{#% stylesheets
        'bundles/nitramanager/css/style.less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %#}
        
{% if formIsValid %}
    <div class="notice">Данные приняты!</div>
    <script>
        // изменяем название в шапке
       $('#filialDefaultName').html('{{ render(controller('NitraManagerBundle:Manager/Actions:getDefaultFilialName')) }}');
        // закрыть colorbox
        setTimeout('$.fn.colorbox.close();', 1000);
    </script>
{% else %}
    <fieldset class="form_block admin_form form_fieldset_search">
        <form action="{{ path("Nitra_ManagerlBundle_Manager_My_Filials") }}"
              method="post" {{ form_enctype(form) }} 
              class="colorbox_form" >
            {{ form_errors(form) }}
                {{ form_row(form.myFilialDefault) }}
                {{ form_row(form.myFilialsDisplay) }}
            
            {% include "NitraMainBundle:Common:_colorboxButtons.html.twig" %}

        {{ form_rest(form) }}
        </form>
        
    </fieldset>
{% endif %}

{% include "NitraMainBundle:Common:_colorboxSubmit.html.twig" %}

<script>
    {% if myFilialDefault %}
        $('#my_filials_myFilialDefault').find('option[value="{{ myFilialDefault }}"]').attr('selected','selected');
        $('#my_filials_myFilialsDisplay_{{ myFilialDefault }}').prop('checked', true);
        $('#my_filials_myFilialsDisplay_{{ myFilialDefault }}').attr('disabled', 'disabled');
        defaultFilial = '{{ myFilialDefault }}';
    {% endif %}
        
    {% if myFilialsDisplay %}
        var myFilialsDisplay = [];
        {% for filial in myFilialsDisplay %}
            myFilialsDisplay.push( {{ filial }} ); 
        {% endfor %}
        
        $('#my_filials_myFilialsDisplay :input').each(function(){
            for (var i = 0; i < myFilialsDisplay.length; i++){
                if (myFilialsDisplay[i] == $(this).attr('value')){
                    $(this).attr('checked', 'checked');
                }
            }    
        });
    {% endif %}
        $('#my_filials_myFilialDefault').change(function() {
            var id = $(this).val();
            $('#my_filials_myFilialsDisplay_'+defaultFilial).prop('checked', false);
            $('#my_filials_myFilialsDisplay_'+defaultFilial).removeAttr('disabled');
            $('#my_filials_myFilialsDisplay_'+id).prop('checked', true);
            $('#my_filials_myFilialsDisplay_'+id).attr('disabled', 'disabled');
            defaultFilial = id;
        });
</script>
