{% extends_admingenerated "NitraDeclarationBundle:DeclarationNew:index.html.twig" %}

{% block javascript_head %}
            {{ parent() }}
{% stylesheets '@NitraThemeBundle/Resources/public/css/jquery.autocomplete.css' %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts '@NitraThemeBundle/Resources/public/js/jquery.autocomplete.js' %}
<script src="{{ asset_url }}"></script>
<script type="text/javascript">


//$(document).focus()
    $(document).on("focus", ".product_id", function() {
        if ($(this).attr('nl_autocomplete') != 'redy') {
            $(this).attr('nl_autocomplete', 'redy');
            var obj = this;
            $(this).after('<input type="hidden" name="' + $(this).attr('name') + '" id="' + $(this).attr('id') + '_auto">');
            $(this).attr('name', '');
            $(this).autocomplete('{{ path ('Product_Autocomplete') }}', {
                minChars: 2,
                delimiter: /(,|;)\s*/,
                maxHeight: 400,
                width: 300,
                zIndex: 9999,
                deferRequestBy: 10,
                dataType: "json",
                extraParams: {
                },
                onItemSelect: function(row) {
                    $('#' + $(obj).attr('id')).val(row.extra[0]);
                    $('#' + $(obj).attr('id') + '_auto').val(row.extra[1]);
                }

            }).change(function() {
                if (!$.trim(this.value)) {
                    $(this).val('').change();
                }

            });
        }
    });



    </script>
    {% endjavascripts %}

{% endblock %}


