{% block select_warehouse_widget %}

    <select id="{{ widget_id_city }}">
        <option value=""></option>
        {% for city in cities %}
            <option value="{{ city.id }}" cityBusinessKey="{{ city.cityBusinessKey }}" >{{ city.name }}</option>
        {% endfor %}
    </select>

    {{ form_widget(form, { 'attr': {'class': 'select_warehouse_' ~ name } }) }}

    <script> 
        /**
         * массив складов ТК 
         * @var array warehouses [key] = array( 0='id', 1='deliveryBusinessKey', 2='cityId', 3='Адресс', 4='warehouseBusinessKey' )
         **/
        var warehouses_{{ widget_id_warehouse }} = new Array();
        {% for warehouse in warehouses %}
            warehouses_{{ widget_id_warehouse }}[{{ loop.index0 }}] = new Array({{ warehouse.id }}, '{{ warehouse.deliveryBusinessKey }}', '{{ warehouse.cityId }}', '{{ warehouse.address }}', '{{ warehouse.warehouseBusinessKey }}');
        {% endfor %}
        
        /**
         * изменение города
         * обновление списка городов
         * @param integer cityId      - ID выбранного города
         * @param integer warehouseId - ID выбранного склада
         **/
        function changeCity_{{ widget_id_city }}(cityId, warehouseId)
        {
            // удалить все элементы виджета
            $('#{{ widget_id_warehouse }}').children().remove();
            
            // если выбран город отображить склады данного города
            if (cityId) {
                // наполнить список складов 
                $.each(warehouses_{{ widget_id_warehouse }}, function(i, warehouse) {
                    // наполнить список складами в выбранном городе 
                    if (cityId == warehouse[2]) {
                        $('#{{ widget_id_warehouse }}').append( $('<option deliveryBusinessKey="'+warehouse[1]+'" warehouseBusinessKey="'+warehouse[4]+'" value="'+warehouse[0]+'">'+warehouse[3]+'</option>') );
                    }
                });
            }
            
            // выбрать элемент списка склад
            if (warehouseId) {
                $('#{{ widget_id_warehouse }} option[value="'+warehouseId+'"]').attr('selected', 'selected');
            }
        }
        
        // получить выбранный ID города 
        var cityId_{{ widget_id_city }} = false;
        
        // получить выбранный ID склада
        var warehouseId_{{ widget_id_warehouse }} = $('#{{ widget_id_warehouse }} option:selected').val();
        
        // получить выбранный город
        // если выбран склад 
        if (warehouseId_{{ widget_id_warehouse }}) {
            // обойти все склады 
            $.each(warehouses_{{ widget_id_warehouse }}, function(i, warehouse) {
                // проверить ID выбранного склада
                if (warehouseId_{{ widget_id_warehouse }} == warehouse[0]) {
                    cityId_{{ widget_id_city }} = warehouse[2];
                    return false;
                }
            });
        }
        
        // выбрать элемент списка город 
        if (cityId_{{ widget_id_city }}) {
            $('#{{ widget_id_city }} option[value="'+cityId_{{ widget_id_city }}+'"]').attr('selected', 'selected');      
        }
        
        // отобразить склады в городе, 
        // выбрать склад 
        changeCity_{{ widget_id_city }}(cityId_{{ widget_id_city }}, warehouseId_{{ widget_id_warehouse }});
        $('#{{ widget_id_city }}').change(function(){
            changeCity_{{ widget_id_city }}($(this).val(), warehouseId_{{ widget_id_warehouse }});
        });
        
        // select2 для виджета
        $('#{{ widget_id_city }}').select2({
            placeholder: 'Выберите город'
        });
        
    </script>
{% endblock %}

    
    
{% block select_contract_widget %}

    <select id="{{ widget_id_supplier }}">
        <option value=""></option>
        {% for supplier in suppliers %}
            <option value="{{ supplier.id }}" >{{ supplier.name }}</option>
        {% endfor %}
    </select>

    {{ form_widget(form, { 'attr': {'class': 'select_contract_' ~ name } }) }}

    <script> 
        /**
         * массив сонтрактов 
         * @var array contracts [key] = array( 0 => 'id', 1 => 'supplierId', 2 => 'name', 3 => 'startBalance', 4 => 'filialId', 5 => 'filialName')
         **/
        var contracts_{{ widget_id_contract }} = new Array();
        {% for contract in contracts %}
            contracts_{{ widget_id_contract }}[{{ loop.index0 }}] = new Array({{ contract.id }}, '{{ contract.supplierId }}', '{{ contract.name }}', '{{ contract.startBalance }}', '{{ contract.filialId }}', '{{ contract.filialName }}' );
        {% endfor %}
        
        /**
         * изменение поставщика
         * обновление списка контрактов
         * @param integer supplierId - ID выбранного поставщика
         * @param integer contractId - ID выбранного контракта
         **/
        function changeSupplier_{{ widget_id_supplier }}(supplierId, contractId)
        {
            // удалить все элементы виджета
            $('#{{ widget_id_contract }}').children().remove();
            
            // если выбран поставщик отображить договора данного поставщика
            if (supplierId) {
                // наполнить список складов 
                $.each(contracts_{{ widget_id_contract }}, function(i, contract) {
                    // наполнить список контрактами выбранного поставщика
                    if (supplierId == contract[1]) {
                        $('#{{ widget_id_contract }}').append( $('<option value="'+contract[0]+'">'+contract[2]+'</option>') );
                    }
                });
            }
            
            // выбрать элемент списка контракт
            if (contractId) {
                $('#{{ widget_id_contract }} option[value="'+contractId+'"]').attr('selected', 'selected');
            }
        }
        
        // получить выбранный ID поставщика
        var supplierId_{{ widget_id_supplier }} = false;
        
        // получить выбранный ID контракта
        var contractId_{{ widget_id_contract }} = $('#{{ widget_id_contract }} option:selected').val();
        
        // получить выбранного поставщика
        // если выбран контракт
        if (contractId_{{ widget_id_contract }}) {
            // обойти все контракты
            $.each(contracts_{{ widget_id_contract }}, function(i, contract) {
                // проверить ID выбранного контракта
                if (contractId_{{ widget_id_contract }} == contract[0]) {
                    supplierId_{{ widget_id_supplier }} = contract[1];
                    return false;
                }
            });
        }
        
        // выбрать элемент списка поставщик
        if (supplierId_{{ widget_id_supplier }}) {
            $('#{{ widget_id_supplier }} option[value="'+supplierId_{{ widget_id_supplier }}+'"]').attr('selected', 'selected');      
        }
        
        // отобразить контракты для поставщика, 
        // выбрать контракт 
        changeSupplier_{{ widget_id_supplier }}(supplierId_{{ widget_id_supplier }}, contractId_{{ widget_id_contract }});
        $('#{{ widget_id_supplier }}').change(function(){
            changeSupplier_{{ widget_id_supplier }}($(this).val(), contractId_{{ widget_id_contract }});
        });
        
        // select2 для виджета
        $('#{{ widget_id_supplier }}').select2({
            placeholder: 'Выберите поставщика'
        });
        
    </script>
{% endblock %}

    
    
{% block select_supplier_warehouse_widget %}

    <select id="{{ widget_id_supplier }}">
        <option value=""></option>
        {% for supplier in suppliers %}
            <option value="{{ supplier.id }}" >{{ supplier.name }}</option>
        {% endfor %}
    </select>

    {{ form_widget(form, { 'attr': {'class': 'select_supplier_warehouse_' ~ name } }) }}

    <script> 
        /**
         * массив складов поставщиков 
         * @var array warehouses [key] = array( 0='id', 1='supplierId', 2='cityId', 3='Адресс' )
         **/
        var warehouses_{{ widget_id_warehouse }} = new Array();
        {% for warehouse in warehouses %}
            warehouses_{{ widget_id_warehouse }}[{{ loop.index0 }}] = new Array({{ warehouse.id }}, '{{ warehouse.supplierId }}', '{{ warehouse.cityId }}', '{{ warehouse.address }}');
        {% endfor %}
        
        /**
         * изменение поставщика
         * обновление списка городов
         * @param integer supplierId  - ID выбранного поставщика
         * @param integer warehouseId - ID выбранного склада
         **/
        function changeSupplier_{{ widget_id_supplier }}(supplierId, warehouseId)
        {
            
            // удалить все элементы виджета
            $('#{{ widget_id_warehouse }}').children().remove();
            
            // если выбран город отображить склады данного города
            if (supplierId) {
                // наполнить список складов 
                $.each(warehouses_{{ widget_id_warehouse }}, function(i, warehouse) {
                    // наполнить список складами в выбранном городе 
                    if (supplierId == warehouse[1]) {
                        $('#{{ widget_id_warehouse }}').append( $('<option value="'+warehouse[0]+'">'+warehouse[3]+'</option>') );
                    }
                });
            }
            
            // выбрать элемент списка склад
            if (warehouseId) {
                $('#{{ widget_id_warehouse }} option[value="'+warehouseId+'"]').attr('selected', 'selected');
            }
        }
        
        // получить выбранный ID города 
        var supplierId_{{ widget_id_supplier }} = false;
        
        // получить выбранный ID склада
        var warehouseId_{{ widget_id_warehouse }} = $('#{{ widget_id_warehouse }} option:selected').val();
        
        // получить выбранного поставщика
        // если выбран склад 
        if (warehouseId_{{ widget_id_warehouse }}) {
            // обойти все склады 
            $.each(warehouses_{{ widget_id_warehouse }}, function(i, warehouse) {
                // проверить ID выбранного склада
                if (warehouseId_{{ widget_id_warehouse }} == warehouse[0]) {
                    supplierId_{{ widget_id_supplier }} = warehouse[1];
                    return false;
                }
            });
        }
        
        // выбрать элемент списка поставщик 
        if (supplierId_{{ widget_id_supplier }}) {
            $('#{{ widget_id_supplier }} option[value="'+supplierId_{{ widget_id_supplier }}+'"]').attr('selected', 'selected');      
        }
        
        // отобразить склады для поставщика
        // выбрать склад 
        changeSupplier_{{ widget_id_supplier }}(supplierId_{{ widget_id_supplier }}, warehouseId_{{ widget_id_warehouse }});
        $('#{{ widget_id_supplier }}').change(function(){
            changeSupplier_{{ widget_id_supplier }}($(this).val(), warehouseId_{{ widget_id_warehouse }});
        });
        
        // select2 для виджета
        $('#{{ widget_id_supplier }}').select2({
            placeholder: 'Выберите поставщика'
        });
        
    </script>
{% endblock %}
