{% extends_admingenerated "NitraContractBundle:ContractList:row.html.twig" %}
{%import 'NitraContractBundle::format_contracts.html.twig' as fc%}
{% block list_td_column_name %}{{ fc.format(Contract) }}{% endblock list_td_column_name %}