
{% if stockRecountEntry.vars.value.quantity != stockRecountEntry.vars.value.delta %}
     {% set background = '#FFFFdd' %}
        {% else %}
     {% set background = '' %}
{% endif %}

<tr id="unicProduct{{ stockRecountEntry.vars.value.productId }}" id2="{{it}}" style="background-color:{{background}}" >
    <td width="90%" >
         {{ stockRecountEntry.vars.value.name }}
        {{ form_widget(stockRecountEntry.name) }}
        {{ form_widget(stockRecountEntry.productId) }}
    </td>
    <td width="5%">
       {{ form_widget(stockRecountEntry.quantity) }}
    </td>
    <td width="5%">
        {{ form_widget(stockRecountEntry.delta) }}
    </td>
</tr>