{% extends "::base_admin.html.twig" %}

{% block stylesheets %}    {{ parent() }}
    {% endblock %}

{% block javascripts %}    {{ parent() }}
    {% endblock %}    {% block title %}
      Редактирование инвентаризации № {{StockRecount.id}}
    {% endblock %}
{% block body %}    {% block page_title %}
        <header>
            <h1> Редактирование инвентаризации № {{StockRecount.id}}. Склад {{warehouseName}}</h1>
        </header>
    {% endblock %}
<div class="row-fluid">{% block form_tabs %}
{% endblock %}

    {% block form %}
    <form class="admin_form" 
        {% if StockRecount.id %}
            action="{{ path("Nitra_MainBundle_StockRecount_update", { 'pk': StockRecount.id }) }}"
        {% else %}
            action="{{ path("Nitra_MainBundle_StockRecount_create") }}"
        {% endif %}
        method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}
{{ form_widget(form._token) }}
        {% block form_fieldset_NONE %}
                                 
        <div class="admin_form" style="float: left; width: 50%;">
               {% if isAccepted == 0 %}
            <div style="padding-bottom: 10px;">
                <a class="add">Добавить</a>
                
                 <div id="product_search" style="display:block; padding-bottom: 10px; padding-top: 10px;">
                    <input id="search" type="text" style="width: 97%">
                </div>
            </div>   
                {% endif %}
                <div style="min-height:300px;height:300px;overflow:auto">
                <table id="products" class="table" style="table-layout: fixed">
                      <div id="added_products" style="position:absolute; background-color: #FFE; margin-top: 30px;min-height:30px;margin-left: 10px;" >
                        
                        </div>
                    <tbody>
                        {% set it = -1 %}
                        {% for entry in form['stockRecountEntries'] %}
                            {% set it = it + 1 %}
                            {% include "NitraMainBundle:StockRecountEdit:entry.html.twig" with {'stockRecountEntry' : entry} %}
                        {% endfor %}
                     </tbody>
                    </table>
               </div>
            </div>
        
               <div style="float: right; width: 40%">
             <fieldset class="form_block form_fieldset_NONE fieldset_tabbable">
        
                {% block form_comment %}
                    {{ form_row(form['comment']) }}
                {% endblock %}
                 
             </fieldset>
                </div>

{% endblock %}

        {% block form_buttons %}        
            <div class="actions">
                {% block form_actions %}
                    
                       {% if isAccepted == 0 %}
                        <input type="submit" name="save" class="save btn-primary" value="{% trans from "Admingenerator" %}action.generic.save{% endtrans %}" />
                       {% endif %}
          
                            
                 <a class="list " href="{{ path("Nitra_MainBundle_StockRecount_list") }}">{% trans from "Admingenerator" %}action.generic.list{% endtrans %}</a>
                        
                  {% if isAccepted == 0 %}
                   <a class="sign " href="{{ path("Nitra_MainBundle_StockRecount_Sign", {'pk' : StockRecount.id}) }}">{% trans from "Admingenerator" %}Подписать{% endtrans %}</a>
                  {% endif %}  
          
            {% endblock %}

            </div>
        {% endblock %}
    </form>
    {% endblock %}
</div>
<script type="text/javascript">
    var warehouse = {{ warehouseId }};
    var recount_id = {{ StockRecount.id }};
    
    var product_added = new Array();
    var product_array = new Array();

    var i = $('#products tr').size() - 1;
    
       $('body').on('click','.add', function(){
           
        $('#products > tbody > tr').css('background-color', '');
           
        var html_tr = '<tr id="add_tr">';
        html_tr += '<td width="90%"><input id="add" type="text" style="width:97%"></td>';
        html_tr += '<td width="5%">0</td>';
        html_tr += '<td width="5%"><input type="text" style="width:20px;"></td>';
        html_tr += '</tr>';
        
        $('#products > tbody:first').prepend(html_tr); 
        
          $('#add').on('focusout', function(){
           keyword = $('#add').val(); 
           $('#added_products').html('');
            $.ajax({
                    url: '{{path("Nitra_MainBundle_RecountProductAutocomplete") }}',
                    dataType: 'json',
                    data: { word: keyword, is_new: true, wh: warehouse, id: recount_id },
                    success: function(success_data) {
                    if(success_data.length != 0 && success_data != 'none'){
                    $.each(success_data, function (k, d) {
                    if(jQuery.inArray(k,product_added) == -1){
                     var autocomplete = '<span style="padding-bottom: 10px;" class="add_prod" id2="'+d+'" id="' + k +'">' + d + '</span></br>';
                     $('#added_products').append(autocomplete); 
                     };
                     }); 
                }
                 }
            });
        }); 
    });

   $('#search').on('focusout', function(){
           $('#add_tr').remove();
            keyword = $('#search').val(); 
            $('#products > tbody > tr').css('background-color', '');
            $.ajax({
                    url: '{{path("Nitra_MainBundle_RecountProductAutocomplete") }}',
                    dataType: 'json',
                    data: { word: keyword, id: recount_id },
                    success: function(success_data) {
                    if(success_data.length != 0 && success_data != 'none'){
                    $('#products > tbody > tr').css('background-color', '#eee');
                    $.each(success_data, function (j, d) {
        
                      
                      var inc = $('#unicProduct' + d['productId']).attr('id2');
   
                    $('#unicProduct' + d['productId']).closest('tr').remove();
                    
                        if(d['quantity'] != d['delta']){
                            var back = '#FFFFDD';
                        } else {
                            var back = '';
                        }
                           
                        var h = '<tr id="unicProduct' + d['productId'] + '" style="background-color:'+back+'">';
                        h += '<td width="90%">' + d['name'];
                        h += '<input id="edit_stockrecount_stockRecountEntries_' + inc + '_name" type="hidden" value="'+d['name']+'" required="required" readonly="readonly" name="edit_stockrecount[stockRecountEntries]['+inc+'][name]">';
                        h += '<input id="edit_stockrecount_stockRecountEntries_' + inc + '_productId" type="hidden" value="'+d['productId']+'" name="edit_stockrecount[stockRecountEntries]['+inc+'][productId]">';
                        h += '</td>';
                        h += '<td width="5%">';
                        h += '<input id="edit_stockrecount_stockRecountEntries_' + inc +'_quantity" style="width:20px;" type="text" value="'+d['quantity']+'" required="required" readonly="readonly" name="edit_stockrecount[stockRecountEntries]['+inc+'][quantity]">';
                        h += '</td>';
                        h += '<td width="5%">';
                        h += '<input id="edit_stockrecount_stockRecountEntries_' + inc +'_delta" style="width:20px;" type="text" value="'+d['delta']+'" required="required" name="edit_stockrecount[stockRecountEntries]['+inc+'][delta]">';
                        h += '</td>';
                        h += '</tr>';
                     
                     $('#products > tbody:first').prepend(h); 

                });
                }
                 }
            });
        });
        
        var j = null;
         
          $('body').on('click','.add_prod', function(){
               var product_id = $(this).attr('id');
               var product_name = $(this).attr('id2');
               product_added.push(product_id);
               var product_array = new Array();
               i++;
                    var new_h = '<tr id="unicProduct' + product_id + '">';
                        new_h += '<td width="90%">' + product_name;
                        new_h += '<input id="edit_stockrecount_stockRecountEntries_' + i + '_name" type="hidden" value="'+product_name+'" required="required" readonly="readonly" name="new_stockrecount['+i+'][name]">';
                        new_h += '<input id="edit_stockrecount_stockRecountEntries_' + i + '_productId" type="hidden" value="'+product_id+'" name="new_stockrecount['+i+'][productId]">';
                        new_h += '</td>';
                        new_h += '<td width="5%">';
                        new_h += '<input id="edit_stockrecount_stockRecountEntries_' + i +'_quantity" style="width:20px;" type="text" value="0" required="required" readonly="readonly" name="new_stockrecount['+i+'][quantity]">';
                        new_h += '</td>';
                        new_h += '<td width="5%">';
                        new_h += '<input id="edit_stockrecount_stockRecountEntries_' + i +'_delta" style="width:20px;" type="text" value="0" required="required" name="new_stockrecount['+i+'][delta]">';
                        new_h += '</td>';
                        new_h += '</tr>';
                        
                     $('#products > tbody:first').prepend(new_h); 
                     
                     $('#added_products').html('');
    
                     $('#add_tr').remove();
        });
    
       
    
</script>
{% endblock %}