{% extends_admingenerated "NitraMainBundle:CurrencyNew:form.html.twig" %}

{% block form %}
    <form class="admin_form"
            action="{{ path("Nitra_MainBundle_Currency_create") }}"
        method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}
                 
        {% block form_fieldset_NONE %}
            {{ parent() }}
        {% endblock form_fieldset_NONE %}

        {{ form_rest(form) }}

        {% block form_buttons %}
            {{ parent() }}
        {% endblock form_buttons %}
        
    </form>
{% endblock form %}

