{% extends_admingenerated "NitraAccountBundle:AccountList:row.html.twig" %}
{% import 'NitraAccountBundle::format_account.html.twig' as format %}

{% block list_td_column_name %}
    {{ format.format_id(Account) }}
{% endblock list_td_column_name %}