
<tr
productId="{{ orderEntry.vars.value.productId }}"
warehouseId="{{ orderEntry.vars.value.getWarehouse.getId }}"
stockParams="{{ orderEntry.vars.value.stockParams }}"
cityBusinessKey="{{ orderEntry.vars.value.getWarehouse.getCity.getBusinessKey }}"
warehouseName="{{ orderEntry.vars.value.getWarehouse.getAddress }}"
supplierId="{% if orderEntry.vars.value.getWarehouse.getSupplier.getId is defined %}{{ orderEntry.vars.value.getWarehouse.getSupplier.getId }}{% endif %}"
deliveryId="{% if orderEntry.vars.value.getWarehouse.getDelivery.getId is defined %}{{ orderEntry.vars.value.getWarehouse.getDelivery.getId }}{% endif %}"
iteration="{{ iteration }}" 
class="{% if orderEntry.vars.value.orderEntryStatus and orderEntry.vars.value.orderEntryStatus.methodName in ['canceled', 'returned_to_supplier'] %}order_entry_canceled{% endif %}"
orderEntryStatus="{% if orderEntry.vars.value.orderEntryStatus %}{{ orderEntry.vars.value.orderEntryStatus.methodName }}{% endif %}"
>
    <td class="product_info order_entry_name">
        
        <span class="product_name">
            
            {# отображение названия позиции #}
            {% if orderEntry.vars.value.id %}
                {# позиция сохранена в БД, отображение навзания позиции  #}
                {{ orderEntry.vars.value.entryName }}
                    
            {% else %}
                {# новая позиция не сохранена в БД #}
                {# отображение навзания продукта #}
                {% if orderEntriesProductNames[orderEntry.vars.value.getProductId] is defined %}
                    {{ orderEntriesProductNames[orderEntry.vars.value.getProductId] }}
                {% endif %}
                
                {% if orderEntry.vars.value.stockParams %}
                    {# отображение параметров стока #}
                    ({{ orderEntry.vars.value.stockParams }})
                {% endif %}
                    
            {% endif %}
        </span>
            
        <div class="order_warehouse warehouse_info">   
            <span class="warehouse_name">
                {{ orderEntry.vars.value.getWarehouse.getAddress }}
            </span>
            {# отключаем изменение поставщика #}
            {#% if orderEntry.vars.value.getWarehouse.getSupplier.getId is defined %}
                <a class="show_supplier_widget" href='javascript:void(0);' onclick="order.form.productShowSupplierWidget(this);" >{{ orderEntry.vars.value.getWarehouse.getAddress }}</a>
            {% else %}
                <span class="warehouse_name">
                    {{ orderEntry.vars.value.getWarehouse.getAddress }}
                </span>
            {% endif %#}
            
            <div class="select_supplier_warehouse_widget" style="display: none">
                {{ form_errors(orderEntry.supplier) }}
                {{ form_widget(orderEntry.supplier) }}
                {{ form_errors(orderEntry.select_warehouse ) }}
                {{ form_widget(orderEntry.select_warehouse ) }}
                {{ form_errors(orderEntry.warehouse ) }}
                {{ form_widget(orderEntry.warehouse ) }}
            </div>
        </div>
    </td>
    
    <td class="order_entry_quantity">
        {{ form_errors(orderEntry.quantity) }}
        {{ form_label(orderEntry['quantity'], 'Кол-во') }}  
        {{ form_widget(orderEntry.quantity) }}
    </td>
    
    <td class="order_entry_quantity price">
        {{ form_errors(orderEntry.priceIn) }}
        {{ form_label(orderEntry['priceIn'], 'Цена') }}
        {{ form_widget(orderEntry.priceIn) }}
    </td>
    
    <td class="currency">
        {{ form_errors(orderEntry.currency) }}
        {{ form_widget(orderEntry.currency) }}
    </td>
    
    <td class="order_entry_quantity price">
        {{ form_errors(orderEntry.priceOut) }}
        {{ form_label(orderEntry['priceOut'], 'Цена') }}
        {{ form_widget(orderEntry.priceOut) }}
    </td>
    
    <td class="order_entry_total number">
        <span>{{ orderEntry.vars.value.getTotal }}</span>
    </td>
    
    <td class="order_entry_delete">
        {% if orderEntry.vars.value.isValidForDelete %}
            <a class="link_icon" href="javascript:void(0);" alt="Удалить" onclick="order.form.delProduct(this);">
                <i class="i_delete"></i>
            </a>
        {% endif %}
        {{ form_errors(orderEntry.productId) }}
        {{ form_widget(orderEntry.productId) }}
        {{ form_errors(orderEntry.priceRecommended) }}
        {{ form_widget(orderEntry.priceRecommended) }}
        {{ form_widget(orderEntry.stockParams ) }}
    </td>
</tr>
