<tr iteration="__iteration__"
    warehouseId="__WarehouseId__" 
    warehouseBusinessKey="__WarehouseBusinessKey__"
    cityBusinessKey="__CityBusinessKey__"
    supplierId="__SupplierId__"
    deliveryId="__DeliveryId__"
    productId="__ProductId__"
    stockParams="__StockParams__"
    >
    <td class="product_info order_entry_name">
        <span class="product_name">__ProductName__</span>
        <div class="order_warehouse warehouse_info">   
            <span class="warehouse_name"></span>
            <div class="select_supplier_warehouse_widget" style="display: none">
                {{ form_widget(orderEntryForPrototype.vars.prototype.supplier)|e }}
                {{ form_widget(orderEntryForPrototype.vars.prototype.select_warehouse)|e }}
                {{ form_widget(orderEntryForPrototype.vars.prototype.warehouse)|e }}
            </div>
        </div>
    </td>
    
    <td class="order_entry_quantity">
        {{ form_widget(orderEntryForPrototype.vars.prototype.quantity)|e }}
    </td>
    
    <td class="order_entry_price_out price">
        {{ form_widget(orderEntryForPrototype.vars.prototype.priceIn)|e }}
    </td>
    
    <td class="currency">
        {{ form_widget(orderEntryForPrototype.vars.prototype.currency)|e }}
    </td>
    
    <td class="order_entry_quantity price">
        {{ form_widget(orderEntryForPrototype.vars.prototype.priceOut)|e }}
    </td>
    
    <td class="order_entry_total number">
        <span> __Total__</span>
    </td>

    <td class="order_entry_delete" onclick="order.form.delProduct(this);">
        <a class="link_icon" href="javascript:void(0);" alt="Удалить" onclick="order.form.delProduct(this);">
            <i class="i_delete"></i>
        </a>
        {{ form_widget(orderEntryForPrototype.vars.prototype.productId)|e }}
        {{ form_widget(orderEntryForPrototype.vars.prototype.stockParams)|e }}
        {{ form_widget(orderEntryForPrototype.vars.prototype.priceRecommended)|e }}
    </td>
</tr>
