{# шаблон отображения пустого виджета orderEntries, 
для того что бы данный виждет не попадал в отображение при вызове form_rest(form) #}

<tr class="cartProductTrNull" style="display: none">
    <td>
        {{ form_widget(form['orderEntries']) }}
    </td>
</tr>
