
<div id="estimate_delivery_table" >

    <table class="table data_table">
        <thead>
            <tr>
                <th rowspan="2">ТК</th>
                <th rowspan="2">Стоимость доставки</th>
                <th rowspan="2">Обратная пересылка денег</th>
                <th colspan="2">Всего</th>
                <th rowspan="2">Ориентиро-вочная дата прибытия</th>
            </tr>
            <tr>
                <th>Склад-Склад</th>
                <th>Склад-Двери</th>
            </tr>
        </thead>
        
        <tbody>
            {% for delivery in estimateDelivery.deliveries %}
            <tr>
                <td>
                    
                    {% if delivery.isAvailable %}
                        <img src="{{ asset('/bundles/nitraorder/images/delivery_sync/tk_is_available_1.png') }}" />
                    {% else %}
                        <img src="{{ asset('/bundles/nitraorder/images/delivery_sync/tk_is_available_0.png') }}" />
                    {% endif %}
                    
                    {{ delivery.name }}
                </td>
                
                <td>
                    {% if delivery.estimateCost.costTk is defined and delivery.estimateCost.costTk %}
                        {{ delivery.estimateCost.costTk }}
                    {% endif %}
                </td>
                
                <td>
                    {% if delivery.estimateCost.costBack is defined and delivery.estimateCost.costBack %}
                        {{ delivery.estimateCost.costBack }}
                    {% endif %}
                </td>
                
                <td>
                    {% if delivery.estimateCost.costToWarehouse is defined and delivery.estimateCost.costToWarehouse %}
                        {{ delivery.estimateCost.costToWarehouse }}
                    {% endif %}
                </td>
                
                <td>
                    {% if delivery.estimateCost.costToDoor is defined and delivery.estimateCost.costToDoor %}
                        {{ delivery.estimateCost.costToDoor }}
                    {% endif %}
                </td>
                
                <td>
                    {% if delivery.estimateDate is defined and delivery.estimateDate %}
                        {{ delivery.estimateDate|date("d M Y") }}
                    {% endif %}
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
</div>
