
{# Шаблон отображения результатов расчетов стоимостей доставок #}
{% block estimate_delivery_template %}
<div id="estimate_delivery_template" class="field_content" style="display:none">
    <table class="table data_table">
        <thead>
            <tr>
                <th >ТК</th>
                <th >Стоимость доставки</th>
                <th >Обрат. пересылка денег</th>
                <th > <small>Всего</small> </br>Скл-Скл</th>
                <th ><small>Всего</small> </br> Скл-Дв</th>
                <th >Ориентир. дата прибытия</th>
            </tr>
        </thead>
        
        <tbody>
            {# append результат см. order.js order.form.deliverySyncEstimateDelivery() #}
        </tbody>
        
    </table>
</div>
{% endblock estimate_delivery_template %}


{# процесс загрузки стоимостей доставок #}
{% block estimate_delivery_loader %}
<div id="estimate_delivery_loader" class="search_results_loader" style="display:none">
    <img alt="" id="estimate_delivery_loading" src="{{ asset('bundles/admingeneratorgenerator/images/search-ajax-loader.gif') }}" />
</div>
{% endblock estimate_delivery_loader %}


{# отображаемый результат расчтеов доставок #}
{% block estimate_delivery_result %}
<div id="estimate_delivery_result" class="field_content" >
</div>
{% endblock estimate_delivery_result %}
