{% extends_admingenerated "NitraOrderBundle:OrderEdit:form.html.twig" %}

{% block form %}
<div class="order_tabs">
    <div class="tabs">
        <a data-tab="#tabs-1" href="#">Товары</a>
        <a data-tab="#tabs-2" href="#">Информация
            {% block product_count %} <span class="text_round">{# отображение количества добавленных в заказ товаров #}</span>{# отображение количества добавленных в заказ товаров #}{% endblock product_count %}
        </a>
    </div>
    <div class="admin_form">
        <div class="order_tabs_block">
            <fieldset id="tabs-1" class="left_block form_block form_fieldset_search">
                <form
                    id="search_product_filter"
                    action="{{ path('Nitra_OrderBundle_Order_Search_Product_Autocomplete') }}"
                    method="post" {{ form_enctype(filterSearch) }} >
                    {{ form_errors(filterSearch) }}

                    <div class="form_row" style="display: none;">
                        {{ form_row(filterSearch.supplierId) }}
                    </div>

                    <div class="form_row">
                        {{ form_row(filterSearch.categoryId) }}
                    </div>

                    <div class="form_row search_row">
                        {{ form_errors(filterSearch.name) }}
                        {{ form_row(filterSearch.name, {'icon': 'i_search'}) }}
                        {# Rendr Hidden Filials #}
                        {{ form_errors(filterSearch.filialId) }}
                        {{ form_widget(filterSearch.filialId) }}  
                    </div>

                    {{ form_widget(filterSearch.numberPageMain) }}
                    {{ form_widget(filterSearch.numberPageStocks) }}
                    {{ form_widget(filterSearch.numberPageStocksNotBinded) }}
                    {{ form_widget(filterSearch.foundStocksId) }}

                    {{ form_rest(filterSearch) }}
                </form>
                <div class="search_results_loader">
                    <div id="seacrh_product_list" class="search_results"></div>
                    <img alt="{% trans from "Admin" %}поиск товаров...{% endtrans %}" id="loader" style="display: none;" class="loader" src="{{ asset('bundles/admingeneratorgenerator/images/search-ajax-loader.gif') }}">  
                </div>
            </fieldset>
        
            <fieldset id="tabs-2" class="right_block">
                <form 
                    {% if Order.id %}
                        action="{{ path("Nitra_OrderBundle_Order_update", { 'pk': Order.id }) }}"
                    {% else %}
                        action="{{ path("Nitra_OrderBundle_Order_create") }}"
                    {% endif %}
                    method="post" {{ form_enctype(form) }}>

                    <fieldset class="form_block form_fieldset_filial" style="display: none">
                        {{ form_row(form.filial) }}
                    </fieldset>
                    {{ form_errors(form) }}

                    <div class="buyer_info">
                        {{ form_row(form.buyer_name, {'icon': 'i_client'}) }}
                        {{ form_errors(form.buyer_phone) }}    
                        {{ form_row(form.buyer_phone, {'icon': 'i_phone'}) }}
                    </div>
                    {{ form_row(form.warehouse, {'icon': 'i_sklad'}) }}
                    {{ form_row(form.address) }}
                    <div class="check_group">
                        {{ form_row(form['isDirect']) }}
                        {{ form_row(form['isCod']) }}
                    </div>
                    <div class="delivery_info">
                        {{ form_row(form['deliveryDate']) }}
                        {{ form_row(form['deliveryCost'], {'icon': 'i_dollar'}) }}
                        {# подключить шаблон отображения результатов расчета стоимостей доставки #}
                        {# дожен ли этот блок быть включенным по умолчанию? возможно его скрывать по умолчанию и раскрывать на клик? если клиент не найден - нужна ли шапка. может просто выводить - "клиент не найден"? #}
                        {% include "NitraOrderBundle:OrderEdit:estimateDelivery.html.twig" %}
                    </div>


                    {% if Order.comment %}
                        <div class="form_row field_comment">
                            <label class="required" for="order_comment"></label>
                            <div class="field_content">
                                {{ Order.comment|raw }}
                            </div>
                        </div>
                    {% endif %}
                    {{ form_row(form['commentAdd'], {'icon': 'i_comment'}) }}

                    <div class="form_block form_fieldset_entry">
                        {% block form_order_entries %}
                            {{ form_errors(form['orderEntries']) }}
                            <table class="data_table table table_order_entry" id="right_list_order_entrys_table" add-block='{% include "NitraOrderBundle:OrderEdit:cartProductTrPrototype.html.twig" with {'orderEntryForPrototype' : form.orderEntries} %}' >
                                <thead>
                                    <tr>
                                        <th>{% trans from "Admin" %}Товар{% endtrans %}</th>
                                        <th>{% trans from "Admin" %}К-во{% endtrans %}</th>
                                        <th>{% trans from "Admin" %}Цена-вход{% endtrans %}</th>
                                        <th>{% trans from "Admin" %}Валюта{% endtrans %}</th>
                                        <th>{% trans from "Admin" %}Цена{% endtrans %}</th>
                                        <th>{% trans from "Admin" %}Всего{% endtrans %}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="cartList">
                                    {% for entry in form['orderEntries'] %}
                                        {% include "NitraOrderBundle:OrderEdit:cartProductTr.html.twig" with {'orderEntry' : entry, 'iteration':loop.index } %}
                                    {% else %}
                                        {# отображение пустого виджета order_entryes, исключение из form_rest(form) #}
                                        {% include "NitraOrderBundle:OrderEdit:cartProductTrNull.html.twig" %}
                                    {% endfor %}
                                </tbody>
                            </table>  
                            <div class="order_total">
                                {% trans from "Admin" %}Итого по заказу:{% endtrans %}
                                <span id="order_total">{{ Order.getTotal }} </span> 
                                <small>{{ currency_symbol }}</small>
                            </div>
                        {% endblock %}
                    </div>

                    {{ form_rest(form) }}

                    {{ block('form_buttons') }}

                </form>
            </fieldset>
        </div>
    </div>
</div>
<script>
    //просчет высоты таблицы с результатами поиска относительно высоты окна браузера
    $(document).ready(function() {
        function divresize(block, headerHeight, footerHeight) {
            var windowHeight = $(window).height(); //определяем высоту окна браузера
            $(block).css('height', windowHeight - headerHeight - footerHeight); //устанавливаем высоту блока(равно высоте окна за вычетом шапки и подвала)
        }
        var offset = $('#seacrh_product_list').offset().top;
        divresize('#seacrh_product_list', offset, 10); //вызываем функцию изменения размера блока
        $(window).bind("resize", function(){ //при изменении размера окна вызываем функцию
            divresize('#seacrh_product_list', offset, 10);
        });
    });
</script>
{% endblock %}
