{% extends_admingenerated "NitraOrderBundle:OrderEdit:index.html.twig" %}

{% block stylesheets %}    
    {{ parent() }}

    {% stylesheets 'bundles/nitraorder/css/style.less' %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts '@NitraOrderBundle/Resources/public/js/order.js'
                   '@NitraMainBundle/Resources/public/js/searchList_height_resize.js' %}    
<script src="{{ asset_url }}"></script>
    {% endjavascripts %}

<script type="text/javascript">
    // страница загружена     
    $(document).ready(function() {

        // Отображаем или скрываем поле Адресная доставка
        $('#edit_order_isDirect').change(function() {
            var val = $("#edit_order_buyer_name_id").val();
            if (this.checked) {
                $('.field_address').show(function() {
                    if ($.isNumeric(val) && $('#edit_order_address').val().trim()=='' && typeof(address) === 'undefined') {
                        var option = {
                            url: '{{path('Nitra_OrderBundle_Get_Buyer_Address')}}?buyer_id=' + val,
                            type: 'GET',
                            success: function(data)
                            {
                                address = JSON.parse(data);
                                $('#edit_order_address').val(address[0].address);
                            }
                        };
                        $.ajax(option);
                    }
                })
            } else {
                $('.field_address').hide();
            }
        }).change();

        $('#submit_button').click(function() {
            $('#seacrh_product_list').html('');
            order.form.searchProduct('search');
        });

        // Безконечная прокрутка левого списка
        order.form.activeScroll = true; //флаг , который принимает 'false' при попадание скрола в самый низ
        $('#seacrh_product_list').scroll(function() {
            //проверка на скролинг в самый низ , флаг и присутствие ссылки
            if (this.scrollTop == this.scrollHeight - this.clientHeight && order.form.activeScroll) {
                order.form.searchProduct('scroll');
            }
        });

        // поиска товаров по филиалу
        $('#edit_order_filial').change(function() {
            $('#filters_order_filialId').val($(this).val());
        }).change();

        // поиск товара по категории
        $('#filters_order_categoryId').change(function() {
            // проверка наличия критериев поиска
            // выбран фильтр по категории или фильтр по названию продукта
            if ($(this).val() || $('#filters_order_name').val()) {
                // поиск товара
                order.form.searchProduct('search');
            }
        });
        
        // отключаем поиск продуктов 
        // при нажатии на клавиш
        $('#filters_order_name').on('keydown', function(e){
            // код нажатой клавиши
            var keyCode = (e.keyCode ? e.keyCode : e.which);
            
            // проверить код отпускаемой клавиши
            // если не Enter, Esc
            if (keyCode == 13 || keyCode == 27) {
                // отменяем все действия
                e.preventDefault();
                e.stopPropagation();
            }
        });
        
        // поиск продуктов по названю
        // при отпускании клавиши
        $('#filters_order_name').on('keyup', function(e){
            
            // код нажатой клавиши
            var keyCode = (e.keyCode ? e.keyCode : e.which);
            
            // Esc код отпускаемой клавиши
            if (keyCode == 27) {
                // игнорируем действия
                return false;
            }
            
            // проверка таймера поиска 
            if (order.form.searchTimer) {
                clearTimeout(order.form.searchTimer);
            }
            
            // запуск поиска по таймеру
            order.form.searchTimer = setTimeout(function() {
                order.form.searchProduct('search');
            }, 500);
            
        });
        
        
        // позиция заказа изменение цены
        $('#right_list_order_entrys_table .price_in, .price_out').on('keyup', function(e) {
            // автозамена символов в цене 
            order.form.parseFloat(e, this);
        });
        
        // позиция заказа изменение кол-ва и цены
        $('#right_list_order_entrys_table .quantity, .price_out').change(function() {
            order.form.recalcTotal(this);
        });
        
        // отключаем изменение поставщика
        // позиция заказа изменение поставщика
        // $('#right_list_order_entrys_table .order_entry_supplier').change(function() {
        //     order.form.productChangeSupplier(this);
        // });
        
        // отключаем изменение поставщика
        // изменение инпута скрытого склада
        // $('#right_list_order_entrys_table .order_entry_select_warehouse').change(function() {
        //     $(this).siblings('.order_entry_warehouse').val($(this).val());
        // });
        
        // Получить данные доставки
        // при изменении города
        $('#edit_order_select_city_for_warehouse ').change(function() {
            order.form.deliverySyncEstimateDelivery();
        }).change();
        
    });

</script>
{% endblock %}
