<tr 
    stockId="{{ stock.id }}"
    warehouseId="{{ stock.warehouseId }}" 
    warehouseName="{{ stock.warehouseName }}"
    warehouseBusinessKey="{{ stock.warehouseBusinessKey }}"
    cityBusinessKey="{{ stock.cityBusinessKey }}"
    productId="{{ stock.productId }}"
    productName="{{ productName }}"
    stockParams="{{ stock.stockParams }}"
    supplierId="{{ stock.supplierId }}"
    supplierName="{{ stock.supplierName }}"
    deliveryId="{{ stock.deliveryId }}"
    deliveryName="{{ stock.deliveryName }}"
    currency="{{ stock.currency }}"
    currencyPrice="{{ stock.currencyPrice }}"
    priceIn="{{ stock.priceIn }}"
    storePrice="{{ stock.storePrice }}"
    quantity="{{ stock.quantity }}"
    class="search_product_tr" 
    onclick="order.form.addProduct(this);" >

    <td class="supplier">
        {% if stock.supplierName %}
            {# отображение названия поставщика #}
            {{ stock.supplierName }}
        {% elseif stock.deliveryName %}
            {# отображение названия ТК #}
            {{ stock.deliveryName }}
        {% endif %}
    </td>    
    <td>
        {# название склада #}
        {{ stock.warehouseName }}
    </td>
    
    {# <td>
        {% if deliveryDates[price.supplierId] is defined %}
            {{ deliveryDates[price.supplierId] }}
        {% endif %}
    </td> #}
    
    <td>
        {{ stock.priceName }} 
        {% if stock.stockParams %}
            {{ '(' ~ stock.stockParams ~ ')' }} 
        {% endif %}
    </td>
    <td class="number nowrap">
        {{ stock.currencyPrice }}
        {{ stock.currency }}
    </td>
    <td class="number nowrap storePrice">{{ stock.storePrice }}</td>
    <td class="invisible"> <a href="javascript:void(0);" class="act_delete link_icon_mini" onclick="movement.form.delProduct(this);"><i class="i_delete"></i></a></td>
</tr>
