{% for product in products %}
    <div class="products search_product">
        {# Открываем новый товар #}
            <table class="binds">
                <thead>
                    <tr>
                        <th class="search_prod_name" colspan="4">
                            <span class="name {% if product.isActive %} active {% endif %}">{{ product.name }}</span>
                            <a class="info colorbox" href="{{ path('Nitra_OrderBundle_Order_Product_Get_Info', {'id': product.id }) }}"></a>
                        </th>
                        <th class="number">{#{ product.storePrice }#}</th>
                        <th class="invisible"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in product.stocks %}
                        {% include "NitraOrderBundle:OrderEdit:searchProductTr.html.twig" with { productName: product.name } %}
                    {% endfor %}
                </tbody>
            </table>        
    </div>
{% endfor %}

{# отображение неподвязанных стоков #}
{% if stocksNotBinded is not empty %}
    <div class="products search_product">
        <table class="binds">
            <thead>
                <tr>
                    <th class="search_prod_name" colspan="4">
                        <span class="name">Неподвязанные продукты</span>
                    </th>
                    <th class="number"></th>
                    <th class="invisible"></th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocksNotBinded %}
                    {% include "NitraOrderBundle:OrderEdit:searchStockNotBindedTr.html.twig" %}
                {% endfor %}
            </tbody>
        </table>        
    </div>
{% endif %}

<script type="text/javascript">
$(document).ready(function () {
    $('.colorbox').colorbox();
    
    // изменяем страницы
    $('#filters_order_numberPageMain').val('{{ numberPageMain }}');
    $('#filters_order_numberPageStocks').val('{{ numberPageStocks }}');
    $('#filters_order_numberPageStocksNotBinded').val('{{ numberPageStocksNotBinded }}');
    $('#filters_order_foundStocksId').val('{{ foundStocksId }}');
});
</script>
