<tr 
    class="search_product_tr" >

    <td class="supplier">
        {% if stock.supplierName %}
            {# отображение названия поставщика #}
            {{ stock.supplierName }}
        {% elseif stock.deliveryName %}
            {# отображение названия ТК #}
            {{ stock.deliveryName }}
        {% endif %}
    </td>    
    <td>
        {# название склада #}
        {{ stock.warehouseName }}
    </td>
    <td>
        {{ stock.priceName }} 
        {% if stock.stockParams %}
            {{ '(' ~ stock.stockParams ~ ')' }} 
        {% endif %}
    </td>
    <td class="number nowrap">
        {{ stock.priceIn }}
        {{ stock.currency }}
    </td>
    <td class="number nowrap storePrice">{{ stock.storePrice }}</td>
</tr>
