{% extends_admingenerated "NitraMainBundle:StockRecountList:results.html.twig" %}
 
{% block generic_action_new %}

    <a class="colorbox" href="{{ path("Nitra_MainBundle_StockRecount_newAtWarehouse", {}) }}">
        <i class="i_new"></i> {% trans from "Admingenerator" %}action.generic.new{% endtrans %}
    </a>
                    
{% endblock generic_action_new %}
