{% extends_admingenerated "NitraMainBundle:StockRecountList:row.html.twig" %}

{% block td_list_object_actions_delete %}

    {% spaceless %}
    {% if not StockRecount.isAccepted %}
        <a  class="delete " href="{{ path("Nitra_MainBundle_StockRecount_object", { pk: StockRecount.id, action: 'delete' }) }}" 
            title="{% trans from "Admingenerator" %}action.object.delete.label{% endtrans %}" data-confirm="{% trans from "Admingenerator" %}action.object.delete.confirm{% endtrans %}"  data-csrf-token="{{ path("Nitra_MainBundle_StockRecount_object", { pk: StockRecount.id, action: 'delete' })|csrf_token }}" ></a>
    {% endif %}
    {% endspaceless %}

{% endblock td_list_object_actions_delete %}