{% extends "::base_admin.html.twig" %}

{% block stylesheets %}    {{ parent() }}
    {% stylesheets %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}
            
{% block body %}
    <form action="{{ path("Nitra_MainBundle_StockRecount_IndexAction") }}" method="post" {{ form_enctype(form) }}>
        <hesder><h1>Выбора склада инвентаризации</h1></header>
        <div class="warehouses" style="float: left; padding: 15px; width: 100%;">
            <fieldset class="form_block form_fieldset_NONE fieldset_tabbable">
                {% block form_warehouses %}
                    {{ form_row(form['warehouses']) }} 
                {% endblock %}
            </fieldset>   
        </div>  
        <div style="float: left; padding-left: 31%;">
           <input type="submit" value="Далее" />
        </div>
    </form>
{% endblock %}

