{% extends "::base_admin.html.twig" %}
{% block title %}
Балансы по счетам
{% endblock %}

{% block body %}
    <header>
        <h1>Балансы по счетам</h1>
    </header>

    <div class="list_results">
        <table class="table">
            <thead>
                <tr>
                    <th>Счет</th>
                    <th>Сумма ({{ base_currency }})</th>
                </tr>
            </thead>
            <tbody>
               {% for account in accounts %}
                <tr>
                    <td><a href="{{ path('supplier_balance', {'accountId': account.id }) }}">{{ account.name }}</a></td>
                    <td style="text-align: right">{{ balances[account.id]|number_format(2,',','') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
