{% extends "::base_admin.html.twig" %}
{% block title %}
Баланс по счету "{{accountName}}"
{% endblock %}

{% block body %}
    <header>
        <h1>Баланс по счету "{{accountName}}"</h1>
    </header>

    <a class="toggle_filter" onclick="$('.list_filters').toggleClass('visible_pc'); $(this).toggleClass('active');"><i></i></a>
    <div class="list_filters">
        <form method="post" {{ form_enctype(form) }}>
            <legend>{% trans from "Admingenerator" %}list.filters{% endtrans %}</legend>
            {{ form_widget(form) }}
            <div class="actions form-actions">
                <input type="submit" value="Обновить данные" />
            </div>
        </form>
    </div>

    <div class="list_results">
        <table class="table">
            <thead>
                <tr class="list_thead">
                    <th class="list_thead_column">Дата</th>
                    <th class="list_thead_column">Операция</th>
                    <th class="list_thead_column">Описание</th>
                    <th colspan="2" class="list_thead_column"></th>
                </tr>
            </thead>
            <tbody>
                {% if res|length > 0 %}
                    <tr class="row_highlight">
                        <td colspan="3" style="text-align: right">Баланс на начало периода:</td>
                        <td colspan="2" style="text-align: right">{{ balanceBefore |number_format(2, ',', '') }} {{base_currency}}</td>
                    </tr>
                    {% for value in res %}
                    <tr class="list_trow">
                        <td>{{ value.date|date('d.m.Y') }}</td>
                        <td>{{ value.type == 'expense' ? 'Расход' : (value.type == 'income' ? 'Поступление' : 'Перевод') }}</td>
                        <td>{{ value.type == 'expense' ? 'Расход' : (value.type == 'income' ? 'Поступление' : 'Перевод') }} {{ (value.order is defined and value.order) ? 'по заказу '~value.order }}</td>
                        <td class="green ar">{{ (value.type != 'expense' and value.type!='cashflow_exp') ? value.amount|number_format(2, ',', '')~' '~base_currency : '' }}</td>
                        <td class="red ar">{{ (value.type == 'expense' or value.type=='cashflow_exp' ) ? value.amount|number_format(2, ',', '')~' '~base_currency : '' }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="row_total">
                        <td colspan="3" class="ar">Итого:</td>
                        <td class="green ar">{{ totalIncomes|number_format(2, ',', '')~' '~base_currency }}</td>
                        <td class="red ar">{{ totalExpenses|number_format(2, ',', '')~' '~base_currency }}</td>
                    </tr>
                    <tr class="row_highlight">
                        <td colspan="3" class="ar">Баланс на конец периода:</td>
                        <td colspan="2" class="ar">{{ balanceAfter |number_format(2, ',', '')~' '~base_currency }}</td>
                    </tr>
                {% else %}
                    <tr class="list_trow no_results_row">
                        <td colspan="2">Отсутсвуют операции в выбранном периоде</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
 
