{% extends_admingenerated "NitraOrderBundle:OrderList:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/nitraorder/css/style.less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
        
    {{ form_stylesheet(form) }}
        
{% endblock stylesheets %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts "@NitraOrderBundle/Resources/public/js/order.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
{% endblock javascripts %}
        
{% block body %}
    {{ parent() }}
        
    {# Форма добавления комментария #}
    {% include "NitraOrderBundle:OrderList:commentForm.html.twig" with {  } %}
        
{% endblock body %}
