<div class="movement_list_box">
    <h1>Маршрутный лист</h1>
    {{ form(form, { action: path('Nitra_OrderBundle_Order_save_movement_xls') }) }}
</div>
<script type="text/javascript">
    // select2
    $('.select2').select2({
        placeholder: 'Выберите город'
    });
</script>