<h1>СМС по заказу №{{ order.id }}</b></h1>

{% if formIsValid %}
<div class="notice">Сообщение отправлено!</div>
<script>
    setTimeout('$.fn.colorbox.close();', 1000);
</script>
{% else %}
    <div id="tabs" class="sms_tabs">
        <div class="tabs_link">
            <a data-target="sms-send" id="sms-send" class="active">Отправить</a>
            <a data-target="sms-history" id="sms-history">История</a>
        </div>
        <div class="tabs_box">   
            <div id="sms-send" class="tabs visible">
                <fieldset class="form_block admin_form form_fieldset_search">
                    <form action="{{ path("Nitra_OrderBundle_Order_object", { 'pk': order.id, action: 'sms' }) }}"    
                          method="post" {{ form_enctype(form) }} 
                          class="colorbox_form" >

                        {{ form_errors(form) }}
                        {{ form_widget(form) }}

                        {% include "NitraMainBundle:Common:_colorboxButtons.html.twig" %}

                    {{ form_rest(form) }}
                    </form>

                </fieldset>
            </div>

            <div id="sms-history" class="tabs " >
                <div class="sms_holder">
                {% for sms_history in history %}
                    <div class="sms_box">
                        <span class="name">{{ sms_history.createdBy }}</span>
                        <span class="date">{{ sms_history.date | date("d.m.Y")  }}</span>    
                        <span class="status">{{ sms_history.status }}</span>                       
                        <span class="text">{{ sms_history.text|raw }}</span>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
<script type="text/javascript">
           // выбор элемента
           $('#new_order_sms_type').on('change', function(){
               orderSmsFormChange($(this).val());
           })
           //устанавливаем занчение по умолчанию после загрузки страницы
           $(document).ready(function(){
               orderSmsFormChange($('#new_order_sms_type').val());
               
               $('.tabs_link a').click(function(){
                  var target = $(this).attr('data-target');
               
                  $('.tabs_link a').removeClass('active');
                  $(this).addClass('active');
                  $('.tabs_box .tabs').removeClass('visible');
                  $('.tabs_box #'+target).addClass('visible');
               });
           })
           // устанавливаем значение после изменения выпадающего списка
           function orderSmsFormChange(sms_type){
               var result = '';
               // completed
               if(sms_type == 'completed') {
                   result = 'Спасибо за покупку!';
               }
               //in_stock
               else if(sms_type == 'in_stock') {
                  result = 'Ваши товары по заказу № {{ order.id }} на складе: {{ order.warehouse|raw }}. Время работы: Пн-Пт 9:00-19:00;Сб 9:00-16:00.';
               }
               //payed
               else if(sms_type == 'payed') {
                   result = 'Оплачено: {{ order.payed }} грн';
               }
               //ordered
               else if(sms_type == 'ordered') {
                   result = 'Уважаемый {{ order.buyer }}, ваш заказ принят. {{ products }}; Общая стоимость: {{ order.total }} грн';
               }
               // подставляем значение
               $('#new_order_sms_text').val(result);
           }
   </script>
{% endif %}

{% include "NitraMainBundle:Common:_colorboxSubmit.html.twig" %}
