{% extends_admingenerated "NitraOrderBundle:OrderList:results.html.twig" %}
{% block generic_action_movement_list %}
    <a class="link_icon colorbox movement_list " 
       href="{{ path("Nitra_OrderBundle_Order_movement_list", {}) }}"><i class="i_travel-list"></i>{% trans from "Admin" %}Маршрутный лист{% endtrans %}
    </a>
{% endblock generic_action_movement_list %}

{% block list_tbody %}
    <tbody>
        
        {% if Orders|length > 0 %}
        
            {% for Order in Orders %}
                {{ render(url("Nitra_OrderBundle_Order_Render_Tr", {'pk': Order.orderId})) }}
            {% endfor %}
            
            {% block object_actions_script %}
                {{ parent() }}
            {% endblock object_actions_script %}

        {% else %}
            {% include "NitraOrderBundle:OrderList:row.no_result.html.twig" with {  } %}
        {% endif %}
            
    </tbody>
{% endblock list_tbody %}