{# Столбец список позиций заказа #}
{% block list_td_column_orderEntries %}
    <table class="order_list_entries">
        
        {% for orderEntry in Order.orderEntries %}
            <tr>                       
                <td class="first_column">
                    <span class="small_gray">заказана с:</span> <span>{{ orderEntry.Warehouse }}</span> <br />
                    <span class="small_gray">сейчас на:</span> <span>{{ orderEntry.atWarehouse }}</span>
                </td>
                <td class="orderName">
                    {% if orderEntry.product %}
                        <div class="bold">{{ orderEntry.product }}</div> 
                        {% if orderEntry.stockParams %}
                            <div class="red">{{ orderEntry.stockParams }}</div>
                        {% endif %}
                    {% else %}
                    <div style="color:red;">Этот товар был удален</div> 
                    {% endif %}
                </td> 
                <td class="price">
                    <div><span class="h_price">Р: </span>{{ orderEntry.priceRecommended }}</div>
                    <div class="{{ orderEntry.priceIn > orderEntry.priceRecommended ? 'red' :  orderEntry.priceIn < orderEntry.priceRecommended ? 'green' : ''}}"><span class="h_price">Вх: </span>{{ orderEntry.priceIn }}</div>
                    <div><span class="h_price">Вых: </span>{{ orderEntry.quantity }}x{{ orderEntry.priceOut }}</div>
                </td>
                <td style="white-space: nowrap;">
                    <span id="order_entry_status_{{ orderEntry.id }}" class="i_{{ orderEntry.OrderEntryStatus.methodName }}">
                        <span class="icon_round {{ orderEntry.OrderEntryStatus.cssClass }}" title="{{ orderEntry.orderEntryStatus.name }}"></span>
                    </span>
                    
                    <div class="popup">
                        <div class="order_entry_list_statuses">
                            {# отображение доступных статусов  #}
                            {% if orderEntryAllowedStatuses[orderEntry.id] is defined %}
                                {% for toStatus in orderEntryAllowedStatuses[orderEntry.id] %}
                                    {% spaceless %}
                                    <a href="javascript:void(0);" 
                                       title="{{ toStatus.name }}"
                                       class="icon_round {{ toStatus.cssClass }}"
                                       onclick="return order.orderEntry.setStatus({{ Order.id }}, {{ orderEntry.id }}, '{{ toStatus.methodName }}', '{{ toStatus.name }}', '{{ orderEntry.OrderEntryStatus.methodName }}'); return false;" >                       
                                    </a>
                                    {% endspaceless %}
                                {% endfor %}
                            {% endif %}
                            <a class="colorbox" href="{{ path('Nitra_OrderBundle_Order_Entry_Status_History', {'pk': orderEntry.id }) }}">История</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

