{# Столбец статус заказа #}
{% block list_td_column_orderStatus %}
    <div class="list_td_column_orderStatus">
        <span id="order_status_{{ Order.id }}" class="i_{{ Order.OrderStatus.methodName }}" >
            <span class="icon_round {{ Order.OrderStatus.cssClass }}" title="{{ Order.OrderStatus.name }}"></span>
        </span>
        
        <div class="popup">
            <div class="order_list_statuses">
                {# отображение доступных статусов  #}
                {% if orderAllowedStatuses is defined %}
                    {% for toStatus in orderAllowedStatuses %}
                        {% spaceless %}
                        <a href="javascript:void(0);" 
                           title="{{ toStatus.name }}"
                           class="icon_round {{ toStatus.cssClass }}"
                           onclick="return order.setStatus({{ Order.id }}, '{{ toStatus.methodName }}', '{{ toStatus.name }}', '{{ Order.OrderStatus.methodName }}'); return false;" >
                        </a>                            
                        {% endspaceless %}
                    {% endfor %}
                {% endif %}
                <a class="colorbox" href="{{ path('Nitra_OrderBundle_Order_Status_History', {'pk': Order.id }) }}">История</a>
            </div>
        </div>
        
        <div class="order_list_delivery"><span class="small_gray">Доставка:</span> {{ (Order.deliveryDate is not null)? Order.deliveryDate|date("d.m.Y") }}</div> 
        <div class="order_list_delivery_warehouse"><span class="small_gray">Склад:</span> {{ Order.warehouse }}</div>
        </div>
{% endblock %}
