{% extends_admingenerated "NitraOrderBundle:OrderList:row.html.twig" %}

{% block list_row %}
<tr class="list_trow" id="tr_order_id{{ Order.id }}">
    {% block list_row_content %}
        {{ parent() }}
    {% endblock list_row_content %}
    {% block object_actions %}
        {{ parent() }}
    {% endblock object_actions %}
</tr>
{% endblock list_row %}


{% block td_list_object_actions_income %}
    {% spaceless %}
        <a class="income colorbox payment link_icon_mini" href="{{ path("Nitra_OrderBundle_Order_Income_Add", { 'pk': Order.id }) }}" 
       title="{% trans from "Admin" %}Принять деньги{% endtrans %}"><i class="i_payment"></i><span>{% trans from "Admin" %}Принять деньги{% endtrans %}</span></a>
    {% endspaceless %}
{% endblock td_list_object_actions_income %}


{% block td_list_object_actions_sms %}
    {% spaceless %}
        <a class="sms colorbox" href="{{ path("Nitra_OrderBundle_Order_object", { 'pk': Order.id, action: 'sms' }) }}" 
        title="{% trans from "Admin" %}СМС{% endtrans %}"><i class="i_sms"></i></a>
    {% endspaceless %}
{% endblock td_list_object_actions_sms %}

{% block td_list_object_actions_delete'' %}

{% block list_td_column_id %}
    <div class="order_list_column_id">
        <strong class="order_list_id">№{{ Order.id }}</strong>
        <div class="order_list_filial">{{ Order.filial }}</div>
    </div>
{% endblock %}


{% block list_td_column_buyer %}
    <div class="list_td_column_buyer">
        <div class="order_list_buyer_name name bold">{{ Order.buyer.name }}</div>
        <div class="order_list_buyer_phone phone">{{ Order.buyer.phone }}</div>
        <div class="order_list_buyer_city city">{{ Order.city }}
            <span class="order_list_buyer_address address">{{ Order.address }}</span>
        </div>

    </div>
{% endblock %}

{% block list_td_column_orderEntries %}
    {% include "NitraOrderBundle:OrderList:row.column.orderEntries.html.twig" with { } %}
{% endblock list_td_column_orderEntries %}

{% block list_td_column_amount %}
    <div class="order_list_amount">{{ Order.total }}</div>
    <div class="order_list_payed {{ Order.payedLeft > 0 ? 'red' : 'green' }}">{{ Order.payed }}</div>
{% endblock list_td_column_amount %}
    
{% block list_td_column_orderStatus %}
    {% include "NitraOrderBundle:OrderList:row.column.status.html.twig" with { } %}
{% endblock list_td_column_orderStatus %}
    
{% block list_td_column_comment %}
    <div class="order_comments">
        <div class="comments">
            <div id="comment_text{{ Order.id  }}">
                {{ Order.comment|raw }}
            </div>
            {% if Order.cancelComment %}
                <div class="comment_item"><b class="red">Причина отмены:</b> {{ Order.cancelComment|raw }}</div>
            {% endif %}
        </div>
        <a class="link_icon new add_coment" href="javascript:void(0);" id="add_comment_link{{ Order.id  }}" onclick="order.comment.add({{ Order.id }}, this);" title="Добавить комментарий к заказу № {{ Order.id }}" >комментировать</a>
    </div>
{% endblock list_td_column_comment %}                  