<tr iteration="__iteration__" >
    <td>
        __ProductName__
    </td>
    <td>
        {{ form_widget(movementEntryForPrototype.vars.prototype.quantity)|e }}
    </td>
    <td id="currencyPrice___iteration__">
        {{ form_widget(movementEntryForPrototype.vars.prototype.currencyPrice , { 'attr': {'class': 'price'} })|e }}
    </td>
    <td id="currency___iteration__"></td>
    <td class="number movement_entry_total">
        __Total__
    </td>
    <td class="delete" >
        {# % if Movement.getMovementStatus.getMethodName == "adopted" % #}
        <a href="javascript:void(0);"  class="link_icon_mini"  onclick="movement.form.delProduct(this);">
            <i class="i_delete"></i>
        </a>
        {# % endif % #}
        {{ form_widget(movementEntryForPrototype.vars.prototype.productId)|e }}
        {{ form_widget(movementEntryForPrototype.vars.prototype.stockParams)|e }}
        {#{ form_widget(movementEntryForPrototype.vars.prototype.priceRecommended)|e }#}
    </td>
</tr>
