{# шаблон отображения пустого виджета movementEntryes, 
для того что бы данный виждет не попадал в отображение при вызове form_rest(form) #}

<tr class="cartProductTrNull">
    <td style="display:none">
        {{ form_widget(form['movementEntries']) }}
    </td>
</tr>
