{% extends_admingenerated "NitraMainBundle:MovementReturnNew:form.html.twig" %}

{% block form %}
 <div class="order_tabs">
      <div class="tabs">
        <a data-tab="#tabs-1" href="#">Товары</a>
        <a data-tab="#tabs-2" href="#">Информация
            {% block product_count %} <span class="text_round">{# отображение количества добавленных в заказ товаров #}</span>{# отображение количества добавленных в заказ товаров #}{% endblock product_count %}
        </a>
    </div>
    <div class="admin_form movement_form order_tabs_block">
        {% block filterSearch %}
           <fieldset id="tabs-1" class="left_block form_block form_fieldset_search extended_search">
               <form id="search_product_filter" action="{{ path('Nitra_MainBundle_MovementReturn_Search_Product_Autocomplete') }}" method="post" {{ form_enctype(filterSearch) }}>
                   {{ form_errors(filterSearch) }}

                   {% block filterSearch_fieldset_NONE %}
                       {% block filterSearch_fromWarehouse %}
                           {{ form_row(filterSearch['fromWarehouse'], {'icon':'i_warehouse'}) }}
                       {% endblock filterSearch_fromWarehouse %}

                       {% block filterSearch_category %}
                           {{ form_row(filterSearch['category']) }}
                       {% endblock filterSearch_category %}

                       <div class="form_row search_row">      
                           {% block filterSearch_name %}

                               {{ form_row(filterSearch['name'], {'icon': 'i_search'}) }}
                           {% endblock filterSearch_name %}
                       </div>
                   {% endblock filterSearch_fieldset_NONE %}

                   {{ form_rest(filterSearch) }}

                    <div class="search_results_loader">
                    <div id="seacrh_product_list" class="search_results " ></div>
                    <img alt="поиск товаров..." id="loader" style="display: none;" class="loader" src="{{ asset('/bundles/admingeneratorgenerator/images/search-ajax-loader.gif') }}">  
                </div>
               </form>
           </fieldset>
       {% endblock filterSearch %}
            
        <div id="tabs-2" class="right_block">
            <form action="{{ path("Nitra_MainBundle_MovementReturn_create") }}"  method="post" {{ form_enctype(form) }}>
                  <fieldset   class="form_block form_fieldset_cart">
                        {{ form_errors(form) }}

                            <fieldset class="form_block fieldset_tabbable">
                                {% block form_contract %}
                                    {{ form_row(form['contract']) }}
                                {% endblock form_contract %}

                                {% block form_date %}
                                    {{ form_row(form['date']) }}
                                {% endblock form_date %}    
                            </fieldset>
                     </fieldset>

                     {% block form_movement_entries %}
                        <div class="form_block form_fieldset_entry">

                            {{ form_errors(form['movementEntries']) }}

                            <table class="data_table table " id="right_list_movement_entries_table" add-block='{% include "NitraMainBundle:MovementReturnNew:cartProductTrPrototype.html.twig" with {'movementEntryForPrototype' : form.movementEntries} %}' >
                                <thead>
                                    <tr>
                                        <th>Товар</th>
                                        <th>Кол-во</th>
                                        <th>Цена в валюте</th>
                                        <th>Валюта</th>
                                        <th>Сумма</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="cartList">
                                     {% for entry in form['movementEntries'] %}
                                        {% include "NitraMainBundle:MovementReturnNew:cartProductTr.html.twig" with {'movementEntry' : entry, 'iteration':loop.index } %}
                                     {% else %}
                                        {# отображение пустого виджета movement_entryes, исключение из form_rest(form) #}
                                        {% include "NitraMainBundle:MovementReturnNew:cartProductTrNull.html.twig" %}
                                     {% endfor %}
                                </tbody>
                            </table>
                            <div class="order_total">{% trans from "Admin" %}Итого: &nbsp; {% endtrans %}<span id="order_total">{{ Movement.getTotal }}</span><small>{{ currency_symbol }}</small></div>
                         </div>
                    {% endblock form_movement_entries %} 

                    {{ form_rest(form) }}

                    {% block form_buttons %}
                        {{ parent() }}
                    {% endblock form_buttons %}
            </form>
        </div>        
    </div>       
</div> 
{% endblock form %}
