<tr 
    productId="{{ stock.productId }}" 
    productName = "{{ products[stock.productId] }}"
    currencyPrice = "{{ stock.currencyPrice }}"
    currency = "{{ stock.currency }}"
    stockParams="{{ stock.stockParams }}"  
    class="search_product_tr" 
    onclick="movement.form.addProduct(this);" >
    <td>{{ products[stock.productId] }}</td>
    <td>{{ stock.stockParams }}</td>
    <td class="number nowrap" style="width: 40px">{{ stock.reserved }}</td>
    <td class="number nowrap" style="width: 40px">{{ stock.quantity }}</td>
    <td class="number nowrap" style="width: 40px">{{ stock.quantityFree }}</td>
    <td class="invisible"><a href="javascript:void(0);" onclick="movement.form.delProduct(this);" class="link_icon_mini"><i class="i_cart"></i></a></td>
</tr>
